blog/2019-08-06--mqtt-node-red/MQTT-network-menu.json
[{"id":"7e05ff2f.434aa","type":"comment","z":"882290b3.ebd11","name":"IP Configuration","info":"","x":100,"y":40,"wires":[]},{"id":"54467f80.1262c","type":"mqtt out","z":"882290b3.ebd11","name":"network/config/dhcp","topic":"instar/000389888811/network/config/dhcp","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":743,"y":82,"wires":[]},{"id":"daeef6ca.662398","type":"mqtt in","z":"882290b3.ebd11","name":"status/network/config/dhcp","topic":"instar/000389888811/status/network/config/dhcp","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":137,"y":82,"wires":[["839e781a.e9cf18"]]},{"id":"839e781a.e9cf18","type":"ui_switch","z":"882290b3.ebd11","name":"DHCP","label":"DHCP","tooltip":"","group":"c2a0d913.d716f8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":368,"y":82,"wires":[["54467f80.1262c"]]},{"id":"2e7640ee.df4f","type":"mqtt out","z":"882290b3.ebd11","name":"network/config/ipaddr","topic":"instar/000389888811/network/config/ipaddr","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":743,"y":130,"wires":[]},{"id":"ea2ab08f.9b925","type":"mqtt in","z":"882290b3.ebd11","name":"status/network/config/ipaddr","topic":"instar/000389888811/status/network/config/ipaddr","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":135,"y":130,"wires":[["7a26dfbc.bf097"]]},{"id":"4e10a515.4a5e1c","type":"change","z":"882290b3.ebd11","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":176,"wires":[["66bc6d06.534384"]]},{"id":"7a26dfbc.bf097","type":"json","z":"882290b3.ebd11","name":"","property":"payload","action":"","pretty":false,"x":85,"y":176,"wires":[["4e10a515.4a5e1c"]]},{"id":"9e463f55.4279b","type":"function","z":"882290b3.ebd11","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":563,"y":130,"wires":[["2e7640ee.df4f"]]},{"id":"66bc6d06.534384","type":"ui_text_input","z":"882290b3.ebd11","name":"FTP Filename","label":"FTP Filename","tooltip":"","group":"c2a0d913.d716f8","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":403,"y":131,"wires":[["9e463f55.4279b"]]},{"id":"db8471f8.fb029","type":"mqtt out","z":"882290b3.ebd11","name":"network/config/netmask","topic":"instar/000389888811/network/config/netmask","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":753,"y":220,"wires":[]},{"id":"bb8c6c35.235f2","type":"mqtt in","z":"882290b3.ebd11","name":"status/network/config/netmask","topic":"instar/000389888811/status/network/config/netmask","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":145,"y":220,"wires":[["ec0e9ffa.ef1ae"]]},{"id":"aaef6f96.23957","type":"change","z":"882290b3.ebd11","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":266,"wires":[["bf332b7c.7d23c8"]]},{"id":"ec0e9ffa.ef1ae","type":"json","z":"882290b3.ebd11","name":"","property":"payload","action":"","pretty":false,"x":85,"y":266,"wires":[["aaef6f96.23957"]]},{"id":"ed239f57.97754","type":"function","z":"882290b3.ebd11","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":563,"y":220,"wires":[["db8471f8.fb029"]]},{"id":"bf332b7c.7d23c8","type":"ui_text_input","z":"882290b3.ebd11","name":"Netmask","label":"Netmask","tooltip":"","group":"c2a0d913.d716f8","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":383,"y":221,"wires":[["ed239f57.97754"]]},{"id":"7915b6e.33c9948","type":"mqtt out","z":"882290b3.ebd11","name":"network/config/netmask","topic":"instar/000389888811/network/config/netmask","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":750,"y":306,"wires":[]},{"id":"68b0181b.9540a8","type":"mqtt in","z":"882290b3.ebd11","name":"status/network/config/gateway","topic":"instar/000389888811/status/network/config/gateway","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":142,"y":306,"wires":[["4532cd33.5f9a34"]]},{"id":"b4d0ddb8.2e81b","type":"change","z":"882290b3.ebd11","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":235,"y":352,"wires":[["548c4a85.294b24"]]},{"id":"4532cd33.5f9a34","type":"json","z":"882290b3.ebd11","name":"","property":"payload","action":"","pretty":false,"x":82,"y":352,"wires":[["b4d0ddb8.2e81b"]]},{"id":"53806745.709dd8","type":"function","z":"882290b3.ebd11","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":306,"wires":[["7915b6e.33c9948"]]},{"id":"548c4a85.294b24","type":"ui_text_input","z":"882290b3.ebd11","name":"Gateway","label":"Gateway","tooltip":"","group":"c2a0d913.d716f8","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":380,"y":307,"wires":[["53806745.709dd8"]]},{"id":"bb71e474.364708","type":"mqtt out","z":"882290b3.ebd11","name":"network/config/dns","topic":"instar/000389888811/network/config/dns","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":730,"y":400,"wires":[]},{"id":"5277dd96.2b3a94","type":"mqtt in","z":"882290b3.ebd11","name":"status/network/config/dns","topic":"instar/000389888811/status/network/config/dns","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":122,"y":400,"wires":[["5b70b20f.a7eb9c"]]},{"id":"e86efcf.f2be8","type":"change","z":"882290b3.ebd11","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":235,"y":446,"wires":[["6d825243.94bf3c"]]},{"id":"5b70b20f.a7eb9c","type":"json","z":"882290b3.ebd11","name":"","property":"payload","action":"","pretty":false,"x":82,"y":446,"wires":[["e86efcf.f2be8"]]},{"id":"1773e685.f3af69","type":"function","z":"882290b3.ebd11","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":400,"wires":[["bb71e474.364708"]]},{"id":"6d825243.94bf3c","type":"ui_text_input","z":"882290b3.ebd11","name":"DNS Server","label":"DNS Server","tooltip":"","group":"c2a0d913.d716f8","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":390,"y":401,"wires":[["1773e685.f3af69"]]},{"id":"f620a0d6.188e4","type":"mqtt out","z":"882290b3.ebd11","name":"network/config/httpport","topic":"instar/000389888811/network/config/httpport","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":749,"y":486,"wires":[]},{"id":"bb0ed307.5453a","type":"mqtt in","z":"882290b3.ebd11","name":"status/network/config/httpport","topic":"instar/000389888811/status/network/config/httpport","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":141,"y":486,"wires":[["c28bf114.095dd"]]},{"id":"f060f37a.aceb3","type":"change","z":"882290b3.ebd11","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":234,"y":532,"wires":[["37dbf9fe.b02e06"]]},{"id":"c28bf114.095dd","type":"json","z":"882290b3.ebd11","name":"","property":"payload","action":"","pretty":false,"x":81,"y":532,"wires":[["f060f37a.aceb3"]]},{"id":"4149fce8.048594","type":"function","z":"882290b3.ebd11","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":559,"y":486,"wires":[["f620a0d6.188e4"]]},{"id":"37dbf9fe.b02e06","type":"ui_numeric","z":"882290b3.ebd11","name":"HTTP Port","label":"HTTP Port","tooltip":"","group":"c2a0d913.d716f8","order":5,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":"65536","step":1,"x":390,"y":486,"wires":[["4149fce8.048594"]]},{"id":"1ae396b2.e34779","type":"mqtt out","z":"882290b3.ebd11","name":"network/config/httpsport","topic":"instar/000389888811/network/config/httpsport","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":750,"y":570,"wires":[]},{"id":"1ddd887c.0c5418","type":"mqtt in","z":"882290b3.ebd11","name":"status/network/config/httpsport","topic":"instar/000389888811/status/network/config/httpsport","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":142,"y":570,"wires":[["6c54c145.f662e"]]},{"id":"d33875a8.399978","type":"change","z":"882290b3.ebd11","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":235,"y":616,"wires":[["def0725a.8a44c"]]},{"id":"6c54c145.f662e","type":"json","z":"882290b3.ebd11","name":"","property":"payload","action":"","pretty":false,"x":82,"y":616,"wires":[["d33875a8.399978"]]},{"id":"9f905042.59e5b","type":"function","z":"882290b3.ebd11","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":570,"wires":[["1ae396b2.e34779"]]},{"id":"def0725a.8a44c","type":"ui_numeric","z":"882290b3.ebd11","name":"HTTPS Port","label":"HTTP Port","tooltip":"","group":"c2a0d913.d716f8","order":5,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":"65536","step":1,"x":391,"y":570,"wires":[["9f905042.59e5b"]]},{"id":"88ccc502.2599f8","type":"mqtt out","z":"882290b3.ebd11","name":"network/config/rtspauth","topic":"instar/000389888811/network/config/rtspauth","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":745,"y":657,"wires":[]},{"id":"ecff2bf5.0c4a68","type":"mqtt in","z":"882290b3.ebd11","name":"status/network/config/rtspauth","topic":"instar/000389888811/status/network/config/rtspauth","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":139,"y":657,"wires":[["960cdbe4.e80188"]]},{"id":"960cdbe4.e80188","type":"ui_switch","z":"882290b3.ebd11","name":"RTSP Authentication","label":"RTSP Authentication","tooltip":"","group":"c2a0d913.d716f8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":410,"y":657,"wires":[["88ccc502.2599f8"]]},{"id":"37dcf8cc.eceac8","type":"mqtt out","z":"882290b3.ebd11","name":"network/config/rtspport","topic":"instar/000389888811/network/config/rtspport","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":750,"y":705,"wires":[]},{"id":"976937f5.e96268","type":"mqtt in","z":"882290b3.ebd11","name":"status/network/config/rtspport","topic":"instar/000389888811/status/network/config/rtspport","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":142,"y":705,"wires":[["8061f350.2790e"]]},{"id":"b0db2e21.2c879","type":"change","z":"882290b3.ebd11","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":235,"y":751,"wires":[["ce176110.01eb9"]]},{"id":"8061f350.2790e","type":"json","z":"882290b3.ebd11","name":"","property":"payload","action":"","pretty":false,"x":82,"y":751,"wires":[["b0db2e21.2c879"]]},{"id":"c99eb7f2.7f4708","type":"function","z":"882290b3.ebd11","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":705,"wires":[["37dcf8cc.eceac8"]]},{"id":"ce176110.01eb9","type":"ui_numeric","z":"882290b3.ebd11","name":"RTSP Port","label":"RTSP Port","tooltip":"","group":"c2a0d913.d716f8","order":5,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":"65536","step":1,"x":391,"y":705,"wires":[["c99eb7f2.7f4708"]]},{"id":"3186450f.db6f4a","type":"mqtt out","z":"882290b3.ebd11","name":"network/config/rtmpport","topic":"instar/000389888811/network/config/rtmpport","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":750,"y":800,"wires":[]},{"id":"3a036db9.0eb742","type":"mqtt in","z":"882290b3.ebd11","name":"status/network/config/rtmpport","topic":"instar/000389888811/status/network/config/rtmpport","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":142,"y":800,"wires":[["2912fdba.4c13d2"]]},{"id":"cfab7988.8cfe68","type":"change","z":"882290b3.ebd11","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":235,"y":846,"wires":[["8c7a322f.7befa"]]},{"id":"2912fdba.4c13d2","type":"json","z":"882290b3.ebd11","name":"","property":"payload","action":"","pretty":false,"x":82,"y":846,"wires":[["cfab7988.8cfe68"]]},{"id":"b2ecb6a8.f796d8","type":"function","z":"882290b3.ebd11","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":800,"wires":[["3186450f.db6f4a"]]},{"id":"8c7a322f.7befa","type":"ui_numeric","z":"882290b3.ebd11","name":"RTMP Port","label":"RTMP Port","tooltip":"","group":"c2a0d913.d716f8","order":5,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":"65536","step":1,"x":391,"y":800,"wires":[["b2ecb6a8.f796d8"]]},{"id":"5515a9c3.807478","type":"mqtt out","z":"882290b3.ebd11","name":"network/remote/instarddns","topic":"instar/000389888811/network/remote/instarddns","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":755,"y":887,"wires":[]},{"id":"38767015.2c8d5","type":"mqtt in","z":"882290b3.ebd11","name":"status/network/remote/instarddns","topic":"instar/000389888811/status/network/remote/instarddns","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":149,"y":887,"wires":[["8b59ffcc.e8c74"]]},{"id":"8b59ffcc.e8c74","type":"ui_switch","z":"882290b3.ebd11","name":"INSTAR DDNS Service","label":"INSTAR DDNS Service","tooltip":"","group":"7a3999e4.4a3328","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":410,"y":887,"wires":[["5515a9c3.807478"]]},{"id":"c2bb0369.8543c","type":"mqtt out","z":"882290b3.ebd11","name":"network/remote/otherddns","topic":"instar/000389888811/network/remote/otherddns","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":757,"y":935,"wires":[]},{"id":"706f0783.d14428","type":"mqtt in","z":"882290b3.ebd11","name":"status/network/remote/otherddns","topic":"instar/000389888811/status/network/remote/otherddns","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":141,"y":935,"wires":[["ffdbfc9a.1f66"]]},{"id":"ffdbfc9a.1f66","type":"ui_switch","z":"882290b3.ebd11","name":"3rd Party DDNS Service","label":"3rd Party DDNS Service","tooltip":"","group":"7a3999e4.4a3328","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":422,"y":935,"wires":[["c2bb0369.8543c"]]},{"id":"a18d7bf4.1b11b8","type":"mqtt out","z":"882290b3.ebd11","name":"network/remote/instarp2p","topic":"instar/000389888811/network/remote/instarp2p","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":749,"y":983,"wires":[]},{"id":"88ee4fc0.afc93","type":"mqtt in","z":"882290b3.ebd11","name":"status/network/remote/instarp2p","topic":"instar/000389888811/status/network/remote/instarp2p","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":143,"y":983,"wires":[["af9e950e.4bccb8"]]},{"id":"af9e950e.4bccb8","type":"ui_switch","z":"882290b3.ebd11","name":"INSTAR P2P Service","label":"INSTAR P2P Service","tooltip":"","group":"7a3999e4.4a3328","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":414,"y":983,"wires":[["a18d7bf4.1b11b8"]]},{"id":"13ca530.06efead","type":"mqtt out","z":"882290b3.ebd11","name":"network/upnp/enable","topic":"instar/000389888811/network/upnp/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":739,"y":1033,"wires":[]},{"id":"ece2739b.f7471","type":"mqtt in","z":"882290b3.ebd11","name":"status/network/upnp/enable","topic":"instar/000389888811/status/network/upnp/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":133,"y":1033,"wires":[["b14174b9.8e6838"]]},{"id":"b14174b9.8e6838","type":"ui_switch","z":"882290b3.ebd11","name":"UPNP Service","label":"UPNP Service","tooltip":"","group":"d08240a.d79ffc","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":394,"y":1033,"wires":[["13ca530.06efead"]]},{"id":"97bc890e.7362f8","type":"mqtt out","z":"882290b3.ebd11","name":"network/onvif/enable","topic":"instar/000389888811/network/onvif/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":740,"y":1082,"wires":[]},{"id":"f6b554f8.2a3968","type":"mqtt in","z":"882290b3.ebd11","name":"status/network/onvif/enable","topic":"instar/000389888811/status/network/onvif/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":134,"y":1082,"wires":[["362fecaf.15d3d4"]]},{"id":"362fecaf.15d3d4","type":"ui_switch","z":"882290b3.ebd11","name":"ONVIF Service","label":"ONVIF Service","tooltip":"","group":"706d6daf.d48b44","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":395,"y":1082,"wires":[["97bc890e.7362f8"]]},{"id":"de773b95.b670c8","type":"mqtt out","z":"882290b3.ebd11","name":"network/onvif/auth","topic":"instar/000389888811/network/onvif/auth","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":730,"y":1131,"wires":[]},{"id":"8aaa006a.a7a18","type":"mqtt in","z":"882290b3.ebd11","name":"status/network/onvif/auth","topic":"instar/000389888811/status/network/onvif/auth","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":124,"y":1131,"wires":[["19742c9c.390623"]]},{"id":"19742c9c.390623","type":"ui_switch","z":"882290b3.ebd11","name":"ONVIF Authentication","label":"ONVIF Authentication","tooltip":"","group":"706d6daf.d48b44","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":415,"y":1131,"wires":[["de773b95.b670c8"]]},{"id":"bfc9420c.0ba73","type":"mqtt out","z":"882290b3.ebd11","name":"network/onvif/timeset","topic":"instar/000389888811/network/onvif/timeset","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":740,"y":1179,"wires":[]},{"id":"37548cb4.0e4554","type":"mqtt in","z":"882290b3.ebd11","name":"status/network/onvif/timeset","topic":"instar/000389888811/status/network/onvif/timeset","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":134,"y":1179,"wires":[["29609144.d0d6de"]]},{"id":"29609144.d0d6de","type":"ui_switch","z":"882290b3.ebd11","name":"ONVIF Time","label":"ONVIF Time","tooltip":"","group":"706d6daf.d48b44","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":385,"y":1179,"wires":[["bfc9420c.0ba73"]]},{"id":"2adab2ce.8c01ce","type":"mqtt out","z":"882290b3.ebd11","name":"network/onvif/port","topic":"instar/000389888811/network/onvif/port","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":730,"y":1228,"wires":[]},{"id":"62a6b7db.f74fd8","type":"mqtt in","z":"882290b3.ebd11","name":"status/network/onvif/port","topic":"instar/000389888811/status/network/onvif/port","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":124,"y":1228,"wires":[["c837f4b8.21b1f8"]]},{"id":"c837f4b8.21b1f8","type":"ui_numeric","z":"882290b3.ebd11","name":"ONVIF Port","label":"ONVIF Port","tooltip":"","group":"706d6daf.d48b44","order":5,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":"65536","step":1,"x":388,"y":1228,"wires":[["2adab2ce.8c01ce"]]},{"id":"9e4e460d.640f18","type":"mqtt-broker","z":"","name":"IN-9010FHD","broker":"192.168.2.165","port":"8883","tls":"b55f9f2e.fe529","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c2a0d913.d716f8","type":"ui_group","z":"","name":"IP Configuration","tab":"755dd5c1.3224dc","disp":true,"width":"6","collapse":true},{"id":"7a3999e4.4a3328","type":"ui_group","z":"","name":"Remote Access","tab":"755dd5c1.3224dc","disp":true,"width":"6","collapse":true},{"id":"d08240a.d79ffc","type":"ui_group","z":"","name":"UPnP","tab":"755dd5c1.3224dc","disp":true,"width":"6","collapse":true},{"id":"706d6daf.d48b44","type":"ui_group","z":"","name":"ONVIF","tab":"755dd5c1.3224dc","disp":true,"width":"6","collapse":true},{"id":"b55f9f2e.fe529","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"mqtt_client-new.crt","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"755dd5c1.3224dc","type":"ui_tab","z":"","name":"MQTT Network Menu","icon":"fa-usb","disabled":false,"hidden":false}]