blog/2019-08-06--mqtt-node-red/MQTT-alarm-menu.json
[{"id":"3f3920c6.12909","type":"mqtt in","z":"e01694a5.31eeb8","name":"","topic":"instar/000389888811/status/#","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":140,"y":40,"wires":[[]]},{"id":"9183dcfb.e3034","type":"debug","z":"e01694a5.31eeb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":40,"wires":[]},{"id":"49808f1e.5f24e","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/email","topic":"instar/000389888811/status/alarm/actions/email","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":130,"y":203,"wires":[["3fa2d61b.876dca"]]},{"id":"3fa2d61b.876dca","type":"ui_switch","z":"e01694a5.31eeb8","name":"Email Notification","label":"Email Notification","tooltip":"","group":"c5940dd.991c5f","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"instar/000389888811/status/alarm/actions/email","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":412,"y":203,"wires":[["636c62f4.948bdc"]]},{"id":"636c62f4.948bdc","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/email","topic":"instar/000389888811/alarm/actions/email","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":669,"y":203,"wires":[]},{"id":"3cd56a46.29ae46","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/snapshot2sd","topic":"instar/000389888811/status/alarm/actions/snapshot2sd","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":160,"y":254,"wires":[["819619ed.a01398"]]},{"id":"819619ed.a01398","type":"ui_switch","z":"e01694a5.31eeb8","name":"Alarmsnapshots (SD Card)","label":"Alarmsnapshots (SD Card)","tooltip":"","group":"c5940dd.991c5f","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"instar/000389888811/status/alarm/actions/email","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":445,"y":254,"wires":[["1e6f17a.49d1ae8"]]},{"id":"1e6f17a.49d1ae8","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/snapshot2sd","topic":"instar/000389888811/alarm/actions/snapshot2sd","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":701,"y":254,"wires":[]},{"id":"291cf13a.e2f1ae","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/snapshot2ftp","topic":"instar/000389888811/status/alarm/actions/snapshot2ftp","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":160,"y":304,"wires":[["ee025262.bd3f2"]]},{"id":"ee025262.bd3f2","type":"ui_switch","z":"e01694a5.31eeb8","name":"Alarmsnapshots (FTP)","label":"Alarmsnapshots (FTP)","tooltip":"","group":"c5940dd.991c5f","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"instar/000389888811/status/alarm/actions/email","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":421,"y":304,"wires":[["e875965e.ee37c8"]]},{"id":"e875965e.ee37c8","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/snapshot2ftp","topic":"instar/000389888811/alarm/actions/snapshot2ftp","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":701,"y":304,"wires":[]},{"id":"9df1cfed.7403a","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/alarmsnapshots/sd","topic":"instar/000389888811/status/alarm/actions/alarmsnapshots/sd","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":180,"y":1220,"wires":[["c5b3134a.29b75"]]},{"id":"b431651c.53ffa8","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/alarmsnapshots/sd","topic":"instar/000389888811/alarm/actions/alarmsnapshots/sd","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":742,"y":1221,"wires":[]},{"id":"c2cad27e.7ad67","type":"ui_slider","z":"e01694a5.31eeb8","name":"Alarmsnapshots (SD Card)","label":"Alarmsnapshots (SD Card)","tooltip":"","group":"c5940dd.991c5f","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"15","step":1,"x":460,"y":1266,"wires":[["2acbf364.1b24bc"]]},{"id":"4f2143d7.bc6ddc","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1266,"wires":[["c2cad27e.7ad67"]]},{"id":"c5b3134a.29b75","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":90,"y":1266,"wires":[["4f2143d7.bc6ddc"]]},{"id":"2acbf364.1b24bc","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":487,"y":1221,"wires":[["b431651c.53ffa8"]]},{"id":"4b4be58d.09674c","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/alarmsnapshots/email","topic":"instar/000389888811/status/alarm/actions/alarmsnapshots/email","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":182,"y":1324,"wires":[["7b3f37a.1123ec8"]]},{"id":"4aa6fccb.92f6d4","type":"ui_slider","z":"e01694a5.31eeb8","name":"Alarmsnapshots (Email)","label":"Alarmsnapshots (Email)","tooltip":"","group":"c5940dd.991c5f","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"15","step":1,"x":452,"y":1370,"wires":[["76ed6702.18bfa8"]]},{"id":"f19939e0.f6a748","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":242,"y":1370,"wires":[["4aa6fccb.92f6d4"]]},{"id":"7b3f37a.1123ec8","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":92,"y":1370,"wires":[["f19939e0.f6a748"]]},{"id":"76ed6702.18bfa8","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":493,"y":1325,"wires":[["95158fc9.01307"]]},{"id":"95158fc9.01307","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/alarmsnapshots/email","topic":"instar/000389888811/alarm/actions/alarmsnapshots/email","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":754,"y":1325,"wires":[]},{"id":"387a0708.30c038","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/alarmsnapshots/ftp","topic":"instar/000389888811/status/alarm/actions/alarmsnapshots/ftp","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":182,"y":1424,"wires":[["1a091b9a.89d364"]]},{"id":"7e785342.1a7f5c","type":"ui_slider","z":"e01694a5.31eeb8","name":"Alarmsnapshots (FTP)","label":"Alarmsnapshots (FTP)","tooltip":"","group":"c5940dd.991c5f","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"15","step":1,"x":442,"y":1470,"wires":[["37107d0c.3cd3b2"]]},{"id":"a8a0cddd.9cd43","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":242,"y":1470,"wires":[["7e785342.1a7f5c"]]},{"id":"1a091b9a.89d364","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":92,"y":1470,"wires":[["a8a0cddd.9cd43"]]},{"id":"37107d0c.3cd3b2","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":494,"y":1425,"wires":[["ae83a707.872a78"]]},{"id":"ae83a707.872a78","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/alarmsnapshots/ftp","topic":"instar/000389888811/alarm/actions/alarmsnapshots/ftp","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":744,"y":1425,"wires":[]},{"id":"c458dcee.1f4e7","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/video2sd","topic":"instar/000389888811/status/alarm/actions/video2sd","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":138,"y":357,"wires":[["867c3548.c24c88"]]},{"id":"867c3548.c24c88","type":"ui_switch","z":"e01694a5.31eeb8","name":"Alarmvideo (SD Card)","label":"Alarmvideo (SD Card)","tooltip":"","group":"c5940dd.991c5f","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":421,"y":357,"wires":[["70065c64.d52384"]]},{"id":"70065c64.d52384","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/video2sd","topic":"instar/000389888811/alarm/actions/video2sd","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":692,"y":357,"wires":[]},{"id":"1fc095e6.5e6d5a","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/video2ftp","topic":"instar/000389888811/alarm/actions/video2ftp","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":694,"y":413,"wires":[]},{"id":"cdf8fb71.4e4cd8","type":"ui_switch","z":"e01694a5.31eeb8","name":"Alarmvideo (FTP)","label":"Alarmvideo (FTP)","tooltip":"","group":"c5940dd.991c5f","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":411,"y":413,"wires":[["1fc095e6.5e6d5a"]]},{"id":"d2994201.6ff23","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/video2ftp","topic":"instar/000389888811/status/alarm/actions/video2ftp","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":146,"y":413,"wires":[["cdf8fb71.4e4cd8"]]},{"id":"6e56ace1.0cdf44","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/videolength","topic":"instar/000389888811/status/alarm/actions/videolength","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":150,"y":1120,"wires":[["e062041f.83c438"]]},{"id":"d219fbda.d4e1b8","type":"ui_slider","z":"e01694a5.31eeb8","name":"Recording Length","label":"Recording Length","tooltip":"","group":"c5940dd.991c5f","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"15","max":"60","step":"15","x":430,"y":1166,"wires":[["d0044c1b.8f778"]]},{"id":"3dc99b03.cf5ab4","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1166,"wires":[["d219fbda.d4e1b8"]]},{"id":"e062041f.83c438","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":90,"y":1166,"wires":[["3dc99b03.cf5ab4"]]},{"id":"d0044c1b.8f778","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":482,"y":1121,"wires":[["f7a3778f.92ab98"]]},{"id":"f7a3778f.92ab98","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/videolength","topic":"instar/000389888811/alarm/actions/videolength","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":707,"y":1121,"wires":[]},{"id":"54de2def.58eee4","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/pir/enable","topic":"instar/000389888811/alarm/actions/pir/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":696,"y":468,"wires":[]},{"id":"20415720.0b9308","type":"ui_switch","z":"e01694a5.31eeb8","name":"PIR Motion Detection","label":"PIR Motion Detection","tooltip":"","group":"8d61e81c.b3c808","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":422,"y":468,"wires":[["54de2def.58eee4"]]},{"id":"c6778b66.0b2018","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/pir/enable","topic":"instar/000389888811/status/alarm/actions/pir/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":145,"y":468,"wires":[["20415720.0b9308"]]},{"id":"2ea3d569.47ce1a","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/pir/flag","topic":"instar/000389888811/alarm/actions/pir/flag","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":686,"y":521,"wires":[]},{"id":"56e90d6e.73d884","type":"ui_switch","z":"e01694a5.31eeb8","name":"PIR (N.C. / N.O.)","label":"PIR (N.C. / N.O.)","tooltip":"","group":"8d61e81c.b3c808","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":403,"y":521,"wires":[["2ea3d569.47ce1a"]]},{"id":"a4d0f2.dbc4af1","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/pir/flag","topic":"instar/000389888811/status/alarm/actions/pir/flag","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":135,"y":521,"wires":[["56e90d6e.73d884"]]},{"id":"99488981.ae70c8","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/linkareas","topic":"instar/000389888811/alarm/actions/linkareas","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":697,"y":576,"wires":[]},{"id":"2fc60575.aa7b4a","type":"ui_switch","z":"e01694a5.31eeb8","name":"Link PIR / Areas","label":"Link PIR / Areas","tooltip":"","group":"8d61e81c.b3c808","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":404,"y":576,"wires":[["99488981.ae70c8"]]},{"id":"1e03c551.fc220b","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/linkareas","topic":"instar/000389888811/status/alarm/actions/linkareas","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":138,"y":576,"wires":[["2fc60575.aa7b4a"]]},{"id":"5fae4693.2415e8","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/alarmout","topic":"instar/000389888811/alarm/actions/alarmout","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":699,"y":634,"wires":[]},{"id":"1d9e41b2.d9bf6e","type":"ui_switch","z":"e01694a5.31eeb8","name":"Alarm Out","label":"Alarm Out","tooltip":"","group":"8d61e81c.b3c808","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":385,"y":634,"wires":[["5fae4693.2415e8"]]},{"id":"a74c6dcb.514b7","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/alarmout","topic":"instar/000389888811/status/alarm/actions/alarmout","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":140,"y":634,"wires":[["1d9e41b2.d9bf6e"]]},{"id":"30c78a78.9d8416","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/alarmin","topic":"instar/000389888811/alarm/actions/alarmin","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":691,"y":689,"wires":[]},{"id":"a3df18ac.82b078","type":"ui_switch","z":"e01694a5.31eeb8","name":"Alarm In","label":"Alarm In","tooltip":"","group":"8d61e81c.b3c808","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":385,"y":689,"wires":[["30c78a78.9d8416"]]},{"id":"461e45aa.c71f5c","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/alarmin","topic":"instar/000389888811/status/alarm/actions/alarmin","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":141,"y":689,"wires":[["a3df18ac.82b078"]]},{"id":"bb0c571.a6e68a8","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/alarmin","topic":"instar/000389888811/alarm/actions/alarmin","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":692,"y":744,"wires":[]},{"id":"ae47c24b.f4bf8","type":"ui_switch","z":"e01694a5.31eeb8","name":"Alarm Out","label":"Alarm Out","tooltip":"","group":"8d61e81c.b3c808","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":386,"y":744,"wires":[["bb0c571.a6e68a8"]]},{"id":"14cd1f63.5fc7f1","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/alarmin","topic":"instar/000389888811/status/alarm/actions/alarmin","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":139,"y":744,"wires":[["ae47c24b.f4bf8"]]},{"id":"868d2bc0.304f28","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/alarminmode","topic":"instar/000389888811/alarm/actions/alarminmode","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":713,"y":798,"wires":[]},{"id":"1ea82de9.388622","type":"ui_switch","z":"e01694a5.31eeb8","name":"Alarm Input (N.C. / N.O.)","label":"Alarm Input (N.C. / N.O.)","tooltip":"","group":"8d61e81c.b3c808","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":436,"y":798,"wires":[["868d2bc0.304f28"]]},{"id":"b94ae643.260d18","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/alarminmode","topic":"instar/000389888811/status/alarm/actions/alarminmode","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":159,"y":798,"wires":[["1ea82de9.388622"]]},{"id":"ebd96e0c.ba804","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/alarmsignal","topic":"instar/000389888811/alarm/actions/alarmsignal","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":703,"y":848,"wires":[]},{"id":"36efac91.93d5c4","type":"ui_switch","z":"e01694a5.31eeb8","name":"Alarm Signal","label":"Alarm Signal","tooltip":"","group":"c5940dd.991c5f","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":398,"y":849,"wires":[["ebd96e0c.ba804"]]},{"id":"7296555f.cf5c4c","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/alarmsignal","topic":"instar/000389888811/status/alarm/actions/alarmsignal","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":150,"y":849,"wires":[["36efac91.93d5c4"]]},{"id":"d0707689.7886c8","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/push/enable","topic":"instar/000389888811/alarm/push/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":685,"y":950,"wires":[]},{"id":"1f343f9a.15a78","type":"ui_switch","z":"e01694a5.31eeb8","name":"Push Notification","label":"Push Notification","tooltip":"","group":"c5940dd.991c5f","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":417,"y":950,"wires":[["d0707689.7886c8"]]},{"id":"65fe5639.508a28","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/push/enable","topic":"instar/000389888811/status/alarm/push/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":132,"y":950,"wires":[["1f343f9a.15a78"]]},{"id":"d1761b28.b1db08","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/audioalarmsensitivity","topic":"instar/000389888811/status/alarm/actions/audioalarmsensitivity","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":180,"y":1020,"wires":[["abc78b27.9550e8"]]},{"id":"b2c600dd.026cf","type":"ui_slider","z":"e01694a5.31eeb8","name":"Audio Alarm Sensitivity","label":"Audio Alarm Sensitivity","tooltip":"","group":"c5940dd.991c5f","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"10","max":"100","step":"10","x":450,"y":1066,"wires":[["ca0897d7.1226d8"]]},{"id":"8aa11bd2.97c288","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1066,"wires":[["b2c600dd.026cf"]]},{"id":"abc78b27.9550e8","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":90,"y":1066,"wires":[["8aa11bd2.97c288"]]},{"id":"ca0897d7.1226d8","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":483,"y":1021,"wires":[["5ebfec7f.82c0c4"]]},{"id":"5ebfec7f.82c0c4","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/audioalarmsensitivity","topic":"instar/000389888811/alarm/actions/audioalarmsensitivity","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":735,"y":1021,"wires":[]},{"id":"b9e8f10c.e871b","type":"comment","z":"e01694a5.31eeb8","name":"Alarm Actions","info":"","x":90,"y":159,"wires":[]},{"id":"57e7618.86ec9a","type":"comment","z":"e01694a5.31eeb8","name":"Alarm Areas","info":"","x":90,"y":1521,"wires":[]},{"id":"469e73e3.05a9cc","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area1/enable","topic":"instar/000389888811/alarm/area1/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":663,"y":1573,"wires":[]},{"id":"83820c89.35add","type":"ui_switch","z":"e01694a5.31eeb8","name":"Alarm Area 1","label":"Alarm Area 1","tooltip":"","group":"6255d2f7.43b38c","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":407,"y":1573,"wires":[["469e73e3.05a9cc"]]},{"id":"84741e83.4b926","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area1/enable","topic":"instar/000389888811/status/alarm/area1/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":131,"y":1573,"wires":[["83820c89.35add"]]},{"id":"53d1f2a8.fbf4fc","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area1/sensitivity","topic":"instar/000389888811/status/alarm/area1/sensitivity","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":140,"y":1621,"wires":[["39e1da94.4f6ec6"]]},{"id":"810022ad.ca4a6","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 1 Sensitivity","label":"Area 1 Sensitivity","tooltip":"","group":"6255d2f7.43b38c","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"100","step":"1","x":433,"y":1667,"wires":[["9d6bbaab.c16c68"]]},{"id":"f1256847.f87ca8","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":243,"y":1667,"wires":[["810022ad.ca4a6"]]},{"id":"39e1da94.4f6ec6","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":90,"y":1667,"wires":[["f1256847.f87ca8"]]},{"id":"9d6bbaab.c16c68","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":1622,"wires":[["5387d7ee.c84388"]]},{"id":"5387d7ee.c84388","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area1/sensitivity","topic":"instar/000389888811/alarm/area1/sensitivity","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":675,"y":1622,"wires":[]},{"id":"8a8e4cf0.2ad12","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area1/xorigin","topic":"instar/000389888811/status/alarm/area1/xorigin","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":130,"y":1715,"wires":[["930c544b.d09db8"]]},{"id":"c748967f.5472f8","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 1 X Origin","label":"Area 1 X Origin","tooltip":"","group":"6255d2f7.43b38c","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"1920","step":"1","x":423,"y":1761,"wires":[["e7f81c0a.1af2a"]]},{"id":"71f54c78.f56b24","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":243,"y":1761,"wires":[["c748967f.5472f8"]]},{"id":"930c544b.d09db8","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":90,"y":1761,"wires":[["71f54c78.f56b24"]]},{"id":"e7f81c0a.1af2a","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":1716,"wires":[["d6261145.cea07"]]},{"id":"d6261145.cea07","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area1/xorigin","topic":"instar/000389888811/alarm/area1/xorigin","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":665,"y":1716,"wires":[]},{"id":"b8ec8811.f355c8","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area1/yorigin","topic":"instar/000389888811/status/alarm/area1/yorigin","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":129,"y":1808,"wires":[["1a83a9cc.54b116"]]},{"id":"d90d58b6.e64018","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 1 Y Origin","label":"Area 1 Y Origin","tooltip":"","group":"6255d2f7.43b38c","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"1080","step":"1","x":422,"y":1854,"wires":[["8d9f7f62.be197"]]},{"id":"26391490.8bb0bc","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":242,"y":1854,"wires":[["d90d58b6.e64018"]]},{"id":"1a83a9cc.54b116","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":89,"y":1854,"wires":[["26391490.8bb0bc"]]},{"id":"8d9f7f62.be197","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":387,"y":1809,"wires":[["6ccdf5f8.3603ec"]]},{"id":"6ccdf5f8.3603ec","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area1/yorigin","topic":"instar/000389888811/alarm/area1/yorigin","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":667,"y":1809,"wires":[]},{"id":"eb871b36.7969b8","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area1/height","topic":"instar/000389888811/status/alarm/area1/height","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":130,"y":1901,"wires":[["f96ccc5b.d791e"]]},{"id":"e919fd33.15975","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 1 Height","label":"Area 1 Height","tooltip":"","group":"6255d2f7.43b38c","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"1080","step":"1","x":423,"y":1947,"wires":[["7318f770.5fe118"]]},{"id":"3d9d247e.c9e8ec","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":243,"y":1947,"wires":[["e919fd33.15975"]]},{"id":"f96ccc5b.d791e","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":90,"y":1947,"wires":[["3d9d247e.c9e8ec"]]},{"id":"7318f770.5fe118","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":1902,"wires":[["81d4a617.bfdb58"]]},{"id":"81d4a617.bfdb58","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area1/height","topic":"instar/000389888811/alarm/area1/height","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":668,"y":1902,"wires":[]},{"id":"66593e68.40eb","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area1/width","topic":"instar/000389888811/status/alarm/area1/width","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":130,"y":1998,"wires":[["ee496b28.c4a478"]]},{"id":"324c26fb.ec1dba","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 1 Width","label":"Area 1 Width","tooltip":"","group":"6255d2f7.43b38c","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"1920","step":"1","x":413,"y":2044,"wires":[["832195d.461cd68"]]},{"id":"485c0639.4a0d38","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":243,"y":2044,"wires":[["324c26fb.ec1dba"]]},{"id":"ee496b28.c4a478","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":90,"y":2044,"wires":[["485c0639.4a0d38"]]},{"id":"832195d.461cd68","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":1999,"wires":[["7e35c131.1f4b3"]]},{"id":"7e35c131.1f4b3","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area1/width","topic":"instar/000389888811/alarm/area1/width","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":668,"y":1999,"wires":[]},{"id":"213c0bfc.7e84b4","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area2/enable","topic":"instar/000389888811/alarm/area2/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":670,"y":2098,"wires":[]},{"id":"130f376b.2a7759","type":"ui_switch","z":"e01694a5.31eeb8","name":"Alarm Area 2","label":"Alarm Area 2","tooltip":"","group":"b0fa96fb.e8a4b8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":414,"y":2098,"wires":[["213c0bfc.7e84b4"]]},{"id":"8b474373.5d86b","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area2/enable","topic":"instar/000389888811/status/alarm/area2/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":138,"y":2098,"wires":[["130f376b.2a7759"]]},{"id":"bab0b246.3664","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area2/sensitivity","topic":"instar/000389888811/status/alarm/area2/sensitivity","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":147,"y":2146,"wires":[["8838d9c1.1922f8"]]},{"id":"fe51eb9f.4db308","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 2 Sensitivity","label":"Area 2 Sensitivity","tooltip":"","group":"b0fa96fb.e8a4b8","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"100","step":"1","x":440,"y":2192,"wires":[["38304a4d.2a3dc6"]]},{"id":"9639aba6.1b66b8","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":2192,"wires":[["fe51eb9f.4db308"]]},{"id":"8838d9c1.1922f8","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":97,"y":2192,"wires":[["9639aba6.1b66b8"]]},{"id":"38304a4d.2a3dc6","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":2147,"wires":[["72d27986.429188"]]},{"id":"72d27986.429188","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area2/sensitivity","topic":"instar/000389888811/alarm/area2/sensitivity","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":682,"y":2147,"wires":[]},{"id":"89fb3586.a84b08","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area2/xorigin","topic":"instar/000389888811/status/alarm/area2/xorigin","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":137,"y":2240,"wires":[["9ee53c4d.02052"]]},{"id":"457eab7d.69b6e4","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 2 X Origin","label":"Area 2 X Origin","tooltip":"","group":"b0fa96fb.e8a4b8","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"1920","step":"1","x":430,"y":2286,"wires":[["4d65805d.4902"]]},{"id":"fdcbbe62.9ec1d","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":2286,"wires":[["457eab7d.69b6e4"]]},{"id":"9ee53c4d.02052","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":97,"y":2286,"wires":[["fdcbbe62.9ec1d"]]},{"id":"4d65805d.4902","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":2241,"wires":[["2ded53fd.ad1f1c"]]},{"id":"2ded53fd.ad1f1c","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area2/xorigin","topic":"instar/000389888811/alarm/area2/xorigin","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":672,"y":2241,"wires":[]},{"id":"b6df0a97.71aa38","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area2/yorigin","topic":"instar/000389888811/status/alarm/area2/yorigin","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":136,"y":2333,"wires":[["2a666b92.535844"]]},{"id":"fe12e108.c6f1b","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 2 Y Origin","label":"Area 2 Y Origin","tooltip":"","group":"b0fa96fb.e8a4b8","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"1080","step":"1","x":429,"y":2379,"wires":[["1f4c3454.a1742c"]]},{"id":"1cca24a8.f30cab","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":249,"y":2379,"wires":[["fe12e108.c6f1b"]]},{"id":"2a666b92.535844","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":96,"y":2379,"wires":[["1cca24a8.f30cab"]]},{"id":"1f4c3454.a1742c","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":2334,"wires":[["67c428a6.7517b8"]]},{"id":"67c428a6.7517b8","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area2/yorigin","topic":"instar/000389888811/alarm/area2/yorigin","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":674,"y":2334,"wires":[]},{"id":"394b4284.4d790e","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area2/height","topic":"instar/000389888811/status/alarm/area2/height","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":137,"y":2426,"wires":[["cce13ff0.1eb96"]]},{"id":"dad8f908.d49fc8","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 2 Height","label":"Area 2 Height","tooltip":"","group":"b0fa96fb.e8a4b8","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"1080","step":"1","x":430,"y":2472,"wires":[["3a491a2f.8e01a6"]]},{"id":"e1cc1604.ddecc8","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":2472,"wires":[["dad8f908.d49fc8"]]},{"id":"cce13ff0.1eb96","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":97,"y":2472,"wires":[["e1cc1604.ddecc8"]]},{"id":"3a491a2f.8e01a6","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":2427,"wires":[["72b5b308.c9256c"]]},{"id":"72b5b308.c9256c","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area2/height","topic":"instar/000389888811/alarm/area2/height","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":675,"y":2427,"wires":[]},{"id":"20b7a2d1.75a77e","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area2/width","topic":"instar/000389888811/status/alarm/area2/width","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":137,"y":2523,"wires":[["293f6f2c.0fe5a"]]},{"id":"27d07aec.7cb3f6","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 2 Width","label":"Area 2 Width","tooltip":"","group":"b0fa96fb.e8a4b8","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"1920","step":"1","x":420,"y":2569,"wires":[["210d1d27.62d712"]]},{"id":"9b73d938.8c9198","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":2569,"wires":[["27d07aec.7cb3f6"]]},{"id":"293f6f2c.0fe5a","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":97,"y":2569,"wires":[["9b73d938.8c9198"]]},{"id":"210d1d27.62d712","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":2524,"wires":[["774b21f.86134e"]]},{"id":"774b21f.86134e","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area2/width","topic":"instar/000389888811/alarm/area2/width","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":675,"y":2524,"wires":[]},{"id":"78c5d06f.fcf01","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area3/enable","topic":"instar/000389888811/alarm/area3/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":670,"y":2615,"wires":[]},{"id":"110976da.cb8dc9","type":"ui_switch","z":"e01694a5.31eeb8","name":"Alarm Area 3","label":"Alarm Area 3","tooltip":"","group":"2a4dcdb0.999d62","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":414,"y":2615,"wires":[["78c5d06f.fcf01"]]},{"id":"11b1f8f1.e92347","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area3/enable","topic":"instar/000389888811/status/alarm/area3/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":138,"y":2615,"wires":[["110976da.cb8dc9"]]},{"id":"1594cc2b.42efe4","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area3/sensitivity","topic":"instar/000389888811/status/alarm/area3/sensitivity","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":147,"y":2663,"wires":[["909557b2.84a0f8"]]},{"id":"7428b4e0.a6db9c","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 3 Sensitivity","label":"Area 3 Sensitivity","tooltip":"","group":"2a4dcdb0.999d62","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"100","step":"1","x":440,"y":2709,"wires":[["2561d711.61b378"]]},{"id":"3db75cb8.d87204","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":2709,"wires":[["7428b4e0.a6db9c"]]},{"id":"909557b2.84a0f8","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":97,"y":2709,"wires":[["3db75cb8.d87204"]]},{"id":"2561d711.61b378","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":2664,"wires":[["1a4ee560.5a2f2b"]]},{"id":"1a4ee560.5a2f2b","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area3/sensitivity","topic":"instar/000389888811/alarm/area3/sensitivity","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":682,"y":2664,"wires":[]},{"id":"8bcab36a.3f72b","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area3/xorigin","topic":"instar/000389888811/status/alarm/area3/xorigin","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":137,"y":2757,"wires":[["809544ff.4e4998"]]},{"id":"d89e5c92.5be62","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 3 X Origin","label":"Area 3 X Origin","tooltip":"","group":"2a4dcdb0.999d62","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"1920","step":"1","x":430,"y":2803,"wires":[["b266242b.8c1198"]]},{"id":"276c08e9.4a3108","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":2803,"wires":[["d89e5c92.5be62"]]},{"id":"809544ff.4e4998","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":97,"y":2803,"wires":[["276c08e9.4a3108"]]},{"id":"b266242b.8c1198","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":2758,"wires":[["e02109a5.c4bf38"]]},{"id":"e02109a5.c4bf38","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area3/xorigin","topic":"instar/000389888811/alarm/area3/xorigin","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":672,"y":2758,"wires":[]},{"id":"c2ab8b22.1673d8","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area3/yorigin","topic":"instar/000389888811/status/alarm/area3/yorigin","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":136,"y":2850,"wires":[["54aac173.d40ad"]]},{"id":"9358a164.110c8","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 3 Y Origin","label":"Area 3 Y Origin","tooltip":"","group":"2a4dcdb0.999d62","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"1080","step":"1","x":429,"y":2896,"wires":[["f963c3a7.65543"]]},{"id":"7e664c5f.ac3734","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":249,"y":2896,"wires":[["9358a164.110c8"]]},{"id":"54aac173.d40ad","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":96,"y":2896,"wires":[["7e664c5f.ac3734"]]},{"id":"f963c3a7.65543","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":2851,"wires":[["dbc46eec.3eb15"]]},{"id":"dbc46eec.3eb15","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area3/yorigin","topic":"instar/000389888811/alarm/area3/yorigin","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":674,"y":2851,"wires":[]},{"id":"9b785b74.245658","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area3/height","topic":"instar/000389888811/status/alarm/area3/height","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":137,"y":2943,"wires":[["c9fde154.36b16"]]},{"id":"35b1faea.e62c16","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 3 Height","label":"Area 3 Height","tooltip":"","group":"2a4dcdb0.999d62","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"1080","step":"1","x":430,"y":2989,"wires":[["8c23a027.98c33"]]},{"id":"564c7df1.b4c984","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":2989,"wires":[["35b1faea.e62c16"]]},{"id":"c9fde154.36b16","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":97,"y":2989,"wires":[["564c7df1.b4c984"]]},{"id":"8c23a027.98c33","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":2944,"wires":[["1dfd9cb1.2a0073"]]},{"id":"1dfd9cb1.2a0073","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area3/height","topic":"instar/000389888811/alarm/area3/height","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":675,"y":2944,"wires":[]},{"id":"b2709447.ab4fd8","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area3/width","topic":"instar/000389888811/status/alarm/area3/width","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":137,"y":3040,"wires":[["a0fa94af.7df218"]]},{"id":"5bce55e9.2a478c","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 3 Width","label":"Area 3 Width","tooltip":"","group":"2a4dcdb0.999d62","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"1920","step":"1","x":420,"y":3086,"wires":[["38dd0869.ffcf78"]]},{"id":"acbbcc8a.5e38","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":3086,"wires":[["5bce55e9.2a478c"]]},{"id":"a0fa94af.7df218","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":97,"y":3086,"wires":[["acbbcc8a.5e38"]]},{"id":"38dd0869.ffcf78","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":3041,"wires":[["1d6731.755268d"]]},{"id":"1d6731.755268d","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area3/width","topic":"instar/000389888811/alarm/area3/width","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":675,"y":3041,"wires":[]},{"id":"7f3cbe1.2033a4","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area4/enable","topic":"instar/000389888811/alarm/area4/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":670,"y":3140,"wires":[]},{"id":"bb3dcae6.d84598","type":"ui_switch","z":"e01694a5.31eeb8","name":"Alarm Area 4","label":"Alarm Area 4","tooltip":"","group":"14b40d19.1a6f63","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":414,"y":3140,"wires":[["7f3cbe1.2033a4"]]},{"id":"5bc4a7ce.ba2c58","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area4/enable","topic":"instar/000389888811/status/alarm/area4/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":138,"y":3140,"wires":[["bb3dcae6.d84598"]]},{"id":"f8a32030.bbd7c","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area4/sensitivity","topic":"instar/000389888811/status/alarm/area4/sensitivity","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":147,"y":3188,"wires":[["98d86792.6412c8"]]},{"id":"c136b5f.dd66e48","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 4 Sensitivity","label":"Area 4 Sensitivity","tooltip":"","group":"14b40d19.1a6f63","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"100","step":"1","x":440,"y":3234,"wires":[["7a0a987.9459768"]]},{"id":"5c355151.ae8b7","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":3234,"wires":[["c136b5f.dd66e48"]]},{"id":"98d86792.6412c8","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":97,"y":3234,"wires":[["5c355151.ae8b7"]]},{"id":"7a0a987.9459768","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":3189,"wires":[["cdfe76a5.3fef98"]]},{"id":"cdfe76a5.3fef98","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area4/sensitivity","topic":"instar/000389888811/alarm/area4/sensitivity","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":682,"y":3189,"wires":[]},{"id":"45df311f.bd371","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area4/xorigin","topic":"instar/000389888811/status/alarm/area4/xorigin","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":137,"y":3282,"wires":[["5c960e16.88d29"]]},{"id":"2c8ab74a.2adf28","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 4 X Origin","label":"Area 4 X Origin","tooltip":"","group":"14b40d19.1a6f63","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"1920","step":"1","x":430,"y":3328,"wires":[["3d471c37.410734"]]},{"id":"7aee2627.fc3b78","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":3328,"wires":[["2c8ab74a.2adf28"]]},{"id":"5c960e16.88d29","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":97,"y":3328,"wires":[["7aee2627.fc3b78"]]},{"id":"3d471c37.410734","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":3283,"wires":[["f790a32c.8b733"]]},{"id":"f790a32c.8b733","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area4/xorigin","topic":"instar/000389888811/alarm/area4/xorigin","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":672,"y":3283,"wires":[]},{"id":"236bfbd4.54d734","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area4/yorigin","topic":"instar/000389888811/status/alarm/area4/yorigin","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":136,"y":3375,"wires":[["928ec884.8ea978"]]},{"id":"4025cf2a.7dd57","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 4 Y Origin","label":"Area 4 Y Origin","tooltip":"","group":"14b40d19.1a6f63","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"1080","step":"1","x":429,"y":3421,"wires":[["5faf1ebb.d49aa"]]},{"id":"90bbf3e8.5b316","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":249,"y":3421,"wires":[["4025cf2a.7dd57"]]},{"id":"928ec884.8ea978","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":96,"y":3421,"wires":[["90bbf3e8.5b316"]]},{"id":"5faf1ebb.d49aa","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":3376,"wires":[["1d8505a2.2be52a"]]},{"id":"1d8505a2.2be52a","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area4/yorigin","topic":"instar/000389888811/alarm/area4/yorigin","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":674,"y":3376,"wires":[]},{"id":"e3c50943.faa188","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area4/height","topic":"instar/000389888811/status/alarm/area4/height","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":137,"y":3468,"wires":[["8f30e014.3d869"]]},{"id":"f5fc6a17.823768","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 4 Height","label":"Area 4 Height","tooltip":"","group":"14b40d19.1a6f63","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"1080","step":"1","x":430,"y":3514,"wires":[["e1b10c3b.74508"]]},{"id":"732a92ca.b4cadc","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":3514,"wires":[["f5fc6a17.823768"]]},{"id":"8f30e014.3d869","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":97,"y":3514,"wires":[["732a92ca.b4cadc"]]},{"id":"e1b10c3b.74508","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":3469,"wires":[["bceb35a5.18f2a8"]]},{"id":"bceb35a5.18f2a8","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area4/height","topic":"instar/000389888811/alarm/area4/height","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":675,"y":3469,"wires":[]},{"id":"23c118fe.125ea8","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/area4/width","topic":"instar/000389888811/status/alarm/area4/width","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":137,"y":3565,"wires":[["477c0bd3.7e1054"]]},{"id":"7c9191c7.fb547","type":"ui_slider","z":"e01694a5.31eeb8","name":"Area 4 Width","label":"Area 4 Width","tooltip":"","group":"14b40d19.1a6f63","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"1920","step":"1","x":420,"y":3611,"wires":[["c9e728b8.5ede08"]]},{"id":"d28f0b1b.eccc18","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":3611,"wires":[["7c9191c7.fb547"]]},{"id":"477c0bd3.7e1054","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":97,"y":3611,"wires":[["d28f0b1b.eccc18"]]},{"id":"c9e728b8.5ede08","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":3566,"wires":[["fd2ba0e7.645e4"]]},{"id":"fd2ba0e7.645e4","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/area4/width","topic":"instar/000389888811/alarm/area4/width","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":675,"y":3566,"wires":[]},{"id":"a156a962.a49598","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/actions/alarmsignal","topic":"instar/000389888811/alarm/actions/alarmsignal","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":703,"y":900,"wires":[]},{"id":"40b63053.6b054","type":"ui_switch","z":"e01694a5.31eeb8","name":"Alarm Signal","label":"Alarm Signal","tooltip":"","group":"c5940dd.991c5f","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":398,"y":901,"wires":[["a156a962.a49598"]]},{"id":"d7caf06c.7c688","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/actions/alarmsignal","topic":"instar/000389888811/status/alarm/actions/alarmsignal","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":150,"y":901,"wires":[["40b63053.6b054"]]},{"id":"462ec7f.cd0fb38","type":"comment","z":"e01694a5.31eeb8","name":"Alarm Shedule","info":"","x":100,"y":3659,"wires":[]},{"id":"386e1867.394638","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/schedule/sunday","topic":"instar/000389888811/alarm/schedule/sunday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":683,"y":3702,"wires":[]},{"id":"14b50e52.5f1372","type":"ui_switch","z":"e01694a5.31eeb8","name":"Sunday","label":"Sunday","tooltip":"","group":"6aee6ffd.099d2","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":422,"y":3702,"wires":[["386e1867.394638"]]},{"id":"25544813.f93c48","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/schedule/sunday","topic":"instar/000389888811/status/alarm/schedule/sunday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":141,"y":3702,"wires":[["14b50e52.5f1372"]]},{"id":"771f4854.ad2528","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/schedule/monday","topic":"instar/000389888811/alarm/schedule/monday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":681,"y":3754,"wires":[]},{"id":"fee21c9.cae49e","type":"ui_switch","z":"e01694a5.31eeb8","name":"Monday","label":"Monday","tooltip":"","group":"6aee6ffd.099d2","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":420,"y":3754,"wires":[["771f4854.ad2528"]]},{"id":"ccc0e368.96ac3","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/schedule/monday","topic":"instar/000389888811/status/alarm/schedule/monday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":149,"y":3754,"wires":[["fee21c9.cae49e"]]},{"id":"4f311f2a.87a79","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/schedule/tuesday","topic":"instar/000389888811/alarm/schedule/tuesday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":681,"y":3806,"wires":[]},{"id":"e06a486b.a35b28","type":"ui_switch","z":"e01694a5.31eeb8","name":"Tuesday","label":"Tuesday","tooltip":"","group":"6aee6ffd.099d2","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":420,"y":3806,"wires":[["4f311f2a.87a79"]]},{"id":"c81432ce.d65","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/schedule/tuesday","topic":"instar/000389888811/status/alarm/schedule/tuesday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":149,"y":3806,"wires":[["e06a486b.a35b28"]]},{"id":"81823cf1.d4d37","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/schedule/wednesday","topic":"instar/000389888811/alarm/schedule/wednesday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":693,"y":3857,"wires":[]},{"id":"e336cad9.1b5fc8","type":"ui_switch","z":"e01694a5.31eeb8","name":"Wednesday","label":"Wednesday","tooltip":"","group":"6aee6ffd.099d2","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":432,"y":3857,"wires":[["81823cf1.d4d37"]]},{"id":"c3fdad42.ced66","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/schedule/wednesday","topic":"instar/000389888811/status/alarm/schedule/wednesday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":161,"y":3857,"wires":[["e336cad9.1b5fc8"]]},{"id":"bbce08ef.37bf18","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/schedule/thursday","topic":"instar/000389888811/alarm/schedule/thursday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":683,"y":3909,"wires":[]},{"id":"dc84c45c.30b4b8","type":"ui_switch","z":"e01694a5.31eeb8","name":"Thursday","label":"Thursday","tooltip":"","group":"6aee6ffd.099d2","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":422,"y":3909,"wires":[["bbce08ef.37bf18"]]},{"id":"8daff5d6.3c65e8","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/schedule/thursday","topic":"instar/000389888811/status/alarm/schedule/thursday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":151,"y":3909,"wires":[["dc84c45c.30b4b8"]]},{"id":"2b3d810f.01d73e","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/schedule/friday","topic":"instar/000389888811/alarm/schedule/friday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":674,"y":3964,"wires":[]},{"id":"a9623c74.a05a6","type":"ui_switch","z":"e01694a5.31eeb8","name":"Friday","label":"Friday","tooltip":"","group":"6aee6ffd.099d2","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":413,"y":3964,"wires":[["2b3d810f.01d73e"]]},{"id":"9a933031.ff056","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/schedule/friday","topic":"instar/000389888811/status/alarm/schedule/friday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":142,"y":3964,"wires":[["a9623c74.a05a6"]]},{"id":"ef304dea.ffd51","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/schedule/saturday","topic":"instar/000389888811/alarm/schedule/saturday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":685,"y":4016,"wires":[]},{"id":"a090bd61.8bd28","type":"ui_switch","z":"e01694a5.31eeb8","name":"Saturday","label":"Saturday","tooltip":"","group":"6aee6ffd.099d2","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":424,"y":4016,"wires":[["ef304dea.ffd51"]]},{"id":"db7c2f29.de748","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/schedule/saturday","topic":"instar/000389888811/status/alarm/schedule/saturday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":153,"y":4016,"wires":[["a090bd61.8bd28"]]},{"id":"c6bcec2b.42194","type":"comment","z":"e01694a5.31eeb8","name":"Alarmserver","info":"","x":90,"y":4082,"wires":[]},{"id":"af49f1ba.d247b","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/alarmserver/enable","topic":"instar/000389888811/alarm/alarmserver/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":683,"y":4124,"wires":[]},{"id":"2c88648b.ce132c","type":"ui_switch","z":"e01694a5.31eeb8","name":"Alarmserver","label":"Alarmserver","tooltip":"","group":"f793394.f71acc8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":396,"y":4124,"wires":[["af49f1ba.d247b"]]},{"id":"5e736bbc.070b54","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/alarmserver/enable","topic":"instar/000389888811/status/alarm/alarmserver/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":151,"y":4124,"wires":[["2c88648b.ce132c"]]},{"id":"b6dd1ee6.5968","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/alarmserver/address","topic":"instar/000389888811/alarm/alarmserver/address","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":745,"y":4175,"wires":[]},{"id":"792a194c.af5648","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/alarmserver/address","topic":"instar/000389888811/status/alarm/alarmserver/address","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":150,"y":4175,"wires":[["bc6aa8f4.2cbbb8"]]},{"id":"adf4b9da.6b1ce8","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":243,"y":4221,"wires":[["eaf7cf48.4be1d"]]},{"id":"bc6aa8f4.2cbbb8","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":90,"y":4221,"wires":[["adf4b9da.6b1ce8"]]},{"id":"b5e5a549.419358","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":549,"y":4175,"wires":[["b6dd1ee6.5968"]]},{"id":"9e6f4f8c.4585b","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/alarmserver/port","topic":"instar/000389888811/alarm/alarmserver/port","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":689,"y":4275,"wires":[]},{"id":"97677851.3b3e48","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/alarmserver/port","topic":"instar/000389888811/status/alarm/alarmserver/port","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":140,"y":4275,"wires":[["2eb53d4a.16a482"]]},{"id":"5fc56aae.3aee34","type":"ui_numeric","z":"e01694a5.31eeb8","name":"Port","label":"Port","tooltip":"","group":"f793394.f71acc8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"65536","step":1,"x":381,"y":4275,"wires":[["4244fff.833e1"]]},{"id":"d5d2be3b.0bbe4","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":243,"y":4321,"wires":[["5fc56aae.3aee34"]]},{"id":"2eb53d4a.16a482","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":90,"y":4321,"wires":[["d5d2be3b.0bbe4"]]},{"id":"4244fff.833e1","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":513,"y":4275,"wires":[["9e6f4f8c.4585b"]]},{"id":"eaf7cf48.4be1d","type":"ui_text_input","z":"e01694a5.31eeb8","name":"","label":"IP Address","tooltip":"e.g. 192.168.178.112","group":"f793394.f71acc8","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":400,"y":4175,"wires":[["b5e5a549.419358"]]},{"id":"4519ed8.9837314","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/alarmserver/path","topic":"instar/000389888811/alarm/alarmserver/path","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":730,"y":4375,"wires":[]},{"id":"1a131af8.e300b5","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/alarmserver/path","topic":"instar/000389888811/status/alarm/alarmserver/path","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":135,"y":4375,"wires":[["722322de.6781cc"]]},{"id":"6dce432.36017bc","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":4421,"wires":[["3e53460a.c3aada"]]},{"id":"722322de.6781cc","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":85,"y":4421,"wires":[["6dce432.36017bc"]]},{"id":"4970867b.d58558","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":544,"y":4375,"wires":[["4519ed8.9837314"]]},{"id":"3e53460a.c3aada","type":"ui_text_input","z":"e01694a5.31eeb8","name":"","label":"Path","tooltip":"","group":"f793394.f71acc8","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":386,"y":4375,"wires":[["4970867b.d58558"]]},{"id":"e92577a.f8d3388","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/alarmserver/query1","topic":"instar/000389888811/alarm/alarmserver/query1","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":729,"y":4471,"wires":[]},{"id":"9ff6d13.c2c3c3","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/alarmserver/query1","topic":"instar/000389888811/status/alarm/alarmserver/query1","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":144,"y":4471,"wires":[["a60e86ae.977358"]]},{"id":"2cb4f955.e6edf6","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/alarmserver/queryattr1","topic":"instar/000389888811/alarm/alarmserver/queryattr1","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":820,"y":4528,"wires":[]},{"id":"a417a851.1e1428","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/alarmserver/queryattr1","topic":"instar/000389888811/status/alarm/alarmserver/queryattr1","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":155,"y":4528,"wires":[["c8974c7a.9bb36"]]},{"id":"51b2bbb2.d1aad4","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":4574,"wires":[["3672c197.596d7e"]]},{"id":"c8974c7a.9bb36","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":85,"y":4574,"wires":[["51b2bbb2.d1aad4"]]},{"id":"35a20359.d9ce5c","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":612,"y":4528,"wires":[["2cb4f955.e6edf6"]]},{"id":"3672c197.596d7e","type":"ui_text_input","z":"e01694a5.31eeb8","name":"Query 1 Attribute","label":"Query 1 Attribute","tooltip":"","group":"f793394.f71acc8","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":438,"y":4528,"wires":[["35a20359.d9ce5c"]]},{"id":"a60e86ae.977358","type":"ui_switch","z":"e01694a5.31eeb8","name":"Query 1","label":"Query 1","tooltip":"","group":"f793394.f71acc8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":392,"y":4471,"wires":[["e92577a.f8d3388"]]},{"id":"abd5cc74.4c453","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/alarmserver/queryval1","topic":"instar/000389888811/alarm/alarmserver/queryval1","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":820,"y":4615,"wires":[]},{"id":"c5bd543.c8f45a8","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/alarmserver/queryval1","topic":"instar/000389888811/status/alarm/alarmserver/queryval1","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":155,"y":4615,"wires":[["b1dd9cb7.394a9"]]},{"id":"e6f3a883.14d138","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":4661,"wires":[["85248b69.0b4938"]]},{"id":"b1dd9cb7.394a9","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":85,"y":4661,"wires":[["e6f3a883.14d138"]]},{"id":"80b139af.bd9b08","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":612,"y":4615,"wires":[["abd5cc74.4c453"]]},{"id":"85248b69.0b4938","type":"ui_text_input","z":"e01694a5.31eeb8","name":"Query 1 Value","label":"Query 1 Value","tooltip":"","group":"f793394.f71acc8","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":428,"y":4615,"wires":[["80b139af.bd9b08"]]},{"id":"b0fb7c2f.23c08","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/alarmserver/username","topic":"instar/000389888811/alarm/alarmserver/username","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":820,"y":4840,"wires":[]},{"id":"30a9cb39.7b0464","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/alarmserver/username","topic":"instar/000389888811/status/alarm/alarmserver/username","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":155,"y":4840,"wires":[["9583386c.5a7948"]]},{"id":"4075cb81.0e0394","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":4886,"wires":[["65530bba.7245c4"]]},{"id":"9583386c.5a7948","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":85,"y":4886,"wires":[["4075cb81.0e0394"]]},{"id":"2c3ba36e.b9288c","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":612,"y":4840,"wires":[["b0fb7c2f.23c08"]]},{"id":"65530bba.7245c4","type":"ui_text_input","z":"e01694a5.31eeb8","name":"Username","label":"Username","tooltip":"","group":"f793394.f71acc8","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":427,"y":4840,"wires":[["2c3ba36e.b9288c"]]},{"id":"d2c08d37.7d42","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/alarmserver/password","topic":"instar/000389888811/alarm/alarmserver/password","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":820,"y":4927,"wires":[]},{"id":"354a5d06.7db682","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/alarmserver/password","topic":"instar/000389888811/status/alarm/alarmserver/password","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":155,"y":4927,"wires":[["e98059ac.ed98a8"]]},{"id":"aa197db.4bc6a8","type":"change","z":"e01694a5.31eeb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":4973,"wires":[["521887f4.60c948"]]},{"id":"e98059ac.ed98a8","type":"json","z":"e01694a5.31eeb8","name":"","property":"payload","action":"","pretty":false,"x":85,"y":4973,"wires":[["aa197db.4bc6a8"]]},{"id":"4241fb43.7e4734","type":"function","z":"e01694a5.31eeb8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":612,"y":4927,"wires":[["d2c08d37.7d42"]]},{"id":"521887f4.60c948","type":"ui_text_input","z":"e01694a5.31eeb8","name":"Password","label":"Password","tooltip":"","group":"f793394.f71acc8","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":422,"y":4927,"wires":[["4241fb43.7e4734"]]},{"id":"64393e42.d3e1e","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/alarmserver/appendtrigger","topic":"instar/000389888811/alarm/alarmserver/appendtrigger","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":760,"y":4720,"wires":[]},{"id":"737317fb.093e28","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/alarmserver/appendtrigger","topic":"instar/000389888811/status/alarm/alarmserver/appendtrigger","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":165,"y":4720,"wires":[["c0b515b0.3dba38"]]},{"id":"c0b515b0.3dba38","type":"ui_switch","z":"e01694a5.31eeb8","name":"Append Trigger","label":"Append Trigger","tooltip":"","group":"f793394.f71acc8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":433,"y":4720,"wires":[["64393e42.d3e1e"]]},{"id":"7d78f79d.ffdf38","type":"mqtt out","z":"e01694a5.31eeb8","name":"alarm/alarmserver/authentication","topic":"instar/000389888811/alarm/alarmserver/authentication","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":760,"y":4780,"wires":[]},{"id":"1b320b4e.e43cf5","type":"mqtt in","z":"e01694a5.31eeb8","name":"status/alarm/alarmserver/authentication","topic":"instar/000389888811/status/alarm/alarmserver/authentication","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":165,"y":4780,"wires":[["80a9a9ce.4622c8"]]},{"id":"80a9a9ce.4622c8","type":"ui_switch","z":"e01694a5.31eeb8","name":"Authentication","label":"Authentication","tooltip":"","group":"f793394.f71acc8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":435,"y":4780,"wires":[["7d78f79d.ffdf38"]]},{"id":"9e4e460d.640f18","type":"mqtt-broker","z":"","name":"IN-9010FHD","broker":"192.168.2.165","port":"8883","tls":"b55f9f2e.fe529","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c5940dd.991c5f","type":"ui_group","z":"","name":"Alarm Actions","tab":"fcf689ff.1b29b8","disp":true,"width":"6","collapse":true},{"id":"8d61e81c.b3c808","type":"ui_group","z":"","name":"Alarm I/O","tab":"fcf689ff.1b29b8","disp":true,"width":"6","collapse":true},{"id":"6255d2f7.43b38c","type":"ui_group","z":"","name":"Alarm Area 1","tab":"fcf689ff.1b29b8","disp":true,"width":"6","collapse":true},{"id":"b0fa96fb.e8a4b8","type":"ui_group","z":"","name":"Alarm Area 2","tab":"fcf689ff.1b29b8","disp":true,"width":"6","collapse":true},{"id":"2a4dcdb0.999d62","type":"ui_group","z":"","name":"Alarm Area 3","tab":"fcf689ff.1b29b8","disp":true,"width":"6","collapse":true},{"id":"14b40d19.1a6f63","type":"ui_group","z":"","name":"Alarm Area 4","tab":"fcf689ff.1b29b8","disp":true,"width":"6","collapse":true},{"id":"6aee6ffd.099d2","type":"ui_group","z":"","name":"Alarm Schedule","tab":"fcf689ff.1b29b8","disp":true,"width":"6","collapse":true},{"id":"f793394.f71acc8","type":"ui_group","z":"","name":"Alarmserver","tab":"fcf689ff.1b29b8","disp":true,"width":"6","collapse":true},{"id":"b55f9f2e.fe529","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"mqtt_client-new.crt","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"fcf689ff.1b29b8","type":"ui_tab","z":"","name":"MQTT Alarm Menu","icon":"fa-bell","disabled":false,"hidden":false}]