blog/2019-08-06--mqtt-node-red/MQTT-multimedia-menu.json
[{"id":"b35de8fe.dbcda8","type":"comment","z":"75577868.8d6c28","name":"Audio","info":"","x":70,"y":47,"wires":[]},{"id":"f730e690.c9aa98","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/audio/outvolume","topic":"instar/000389888811/status/multimedia/audio/outvolume","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":160,"y":100,"wires":[["9173b9f2.339d98"]]},{"id":"960e8574.d38518","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/audio/outvolume","topic":"instar/000389888811/multimedia/audio/outvolume","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":660,"y":101,"wires":[]},{"id":"53b3f065.c7928","type":"ui_slider","z":"75577868.8d6c28","name":"Audio-Out Volume","label":"Audio-Out Volume","tooltip":"","group":"415281d2.09312","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"100","step":1,"x":430,"y":146,"wires":[["f4eaa4bf.828fc8"]]},{"id":"3a22f600.05a14a","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":146,"wires":[["53b3f065.c7928"]]},{"id":"9173b9f2.339d98","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":146,"wires":[["3a22f600.05a14a"]]},{"id":"f4eaa4bf.828fc8","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":425,"y":101,"wires":[["960e8574.d38518"]]},{"id":"bc8cde14.32b97","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/audio/involume","topic":"instar/000389888811/status/multimedia/audio/involume","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":160,"y":200,"wires":[["172b986e.989c08"]]},{"id":"613f62f.307ad9c","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/audio/involume","topic":"instar/000389888811/multimedia/audio/involume","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":660,"y":201,"wires":[]},{"id":"3e72330a.9c1abc","type":"ui_slider","z":"75577868.8d6c28","name":"Audio-In Volume","label":"Audio-In Volume","tooltip":"","group":"415281d2.09312","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"100","step":1,"x":420,"y":246,"wires":[["5d4b88ac.7f4e28"]]},{"id":"1f8e5850.bf7448","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":246,"wires":[["3e72330a.9c1abc"]]},{"id":"172b986e.989c08","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":246,"wires":[["1f8e5850.bf7448"]]},{"id":"5d4b88ac.7f4e28","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":425,"y":201,"wires":[["613f62f.307ad9c"]]},{"id":"f537182f.1a45a8","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/audio/enable/high","topic":"instar/000389888811/status/multimedia/audio/enable/high","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":160,"y":300,"wires":[["35dcc691.25c75a"]]},{"id":"6acf1522.227bcc","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/audio/enable/high","topic":"instar/000389888811/multimedia/audio/enable/high","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":670,"y":300,"wires":[]},{"id":"35dcc691.25c75a","type":"ui_switch","z":"75577868.8d6c28","name":"Audio /11","label":"Audio /11","tooltip":"","group":"415281d2.09312","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":400,"y":300,"wires":[["6acf1522.227bcc"]]},{"id":"5b854c7.f0145b4","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/audio/enable/mid","topic":"instar/000389888811/status/multimedia/audio/enable/mid","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":160,"y":354,"wires":[["82440ae4.752458"]]},{"id":"6db88c3f.43d1d4","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/audio/enable/mid","topic":"instar/000389888811/multimedia/audio/enable/mid","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":660,"y":354,"wires":[]},{"id":"82440ae4.752458","type":"ui_switch","z":"75577868.8d6c28","name":"Audio /12","label":"Audio /12","tooltip":"","group":"415281d2.09312","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":400,"y":354,"wires":[["6db88c3f.43d1d4"]]},{"id":"d56e3164.b1f8e","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/audio/enable/low","topic":"instar/000389888811/status/multimedia/audio/enable/low","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":160,"y":400,"wires":[["ec521d3f.ef3b"]]},{"id":"81bd21ef.93bf9","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/audio/enable/low","topic":"instar/000389888811/multimedia/audio/enable/low","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":660,"y":400,"wires":[]},{"id":"ec521d3f.ef3b","type":"ui_switch","z":"75577868.8d6c28","name":"Audio /13","label":"Audio /13","tooltip":"","group":"415281d2.09312","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":400,"y":400,"wires":[["81bd21ef.93bf9"]]},{"id":"14ed7045.b2547","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/video/high/compression","topic":"instar/000389888811/status/multimedia/video/high/compression","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":180,"y":527,"wires":[["384c622b.170a6e"]]},{"id":"c8fd7d21.2ea67","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/video/high/compression","topic":"instar/000389888811/multimedia/video/high/compression","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":690,"y":528,"wires":[]},{"id":"128fbd42.808363","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":573,"wires":[["58333c43.5b06a4"]]},{"id":"384c622b.170a6e","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":573,"wires":[["128fbd42.808363"]]},{"id":"f02b25b5.e1b438","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":463,"y":528,"wires":[["c8fd7d21.2ea67"]]},{"id":"58333c43.5b06a4","type":"ui_slider","z":"75577868.8d6c28","name":"Video Compression /11","label":"Video Compression /11","tooltip":"","group":"62df6a27.8a48f4","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"6","step":1,"x":448,"y":573,"wires":[["f02b25b5.e1b438"]]},{"id":"1a13ddcb.1d0a82","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/video/high/vbr","topic":"instar/000389888811/status/multimedia/video/high/vbr","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":150,"y":626,"wires":[["db27733b.28987"]]},{"id":"5cb55246.5adb8c","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/video/high/vbr","topic":"instar/000389888811/multimedia/video/high/vbr","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":650,"y":626,"wires":[]},{"id":"db27733b.28987","type":"ui_switch","z":"75577868.8d6c28","name":"Variable Bitrate /11","label":"Variable Bitrate /11","tooltip":"","group":"62df6a27.8a48f4","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":430,"y":626,"wires":[["5cb55246.5adb8c"]]},{"id":"d80decdf.f33ac","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/video/high/fps","topic":"instar/000389888811/status/multimedia/video/high/fps","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":150,"y":677,"wires":[["5d513040.2f26b"]]},{"id":"52b9d5b3.52702c","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/video/high/fps","topic":"instar/000389888811/multimedia/video/high/fps","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":592,"y":678,"wires":[]},{"id":"102eff36.24d721","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":723,"wires":[["e60ddff.483432"]]},{"id":"5d513040.2f26b","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":723,"wires":[["102eff36.24d721"]]},{"id":"ac1adfc3.1e51e","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":678,"wires":[["52b9d5b3.52702c"]]},{"id":"e60ddff.483432","type":"ui_slider","z":"75577868.8d6c28","name":"FPS /11","label":"FPS /11","tooltip":"","group":"62df6a27.8a48f4","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"25","step":1,"x":398,"y":723,"wires":[["ac1adfc3.1e51e"]]},{"id":"dd97f2eb.55893","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/video/mid/compression","topic":"instar/000389888811/status/multimedia/video/mid/compression","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":180,"y":789,"wires":[["4d9619b0.948348"]]},{"id":"facd4eb9.1d13a","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/video/mid/compression","topic":"instar/000389888811/multimedia/video/mid/compression","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":680,"y":790,"wires":[]},{"id":"60aa1690.80c878","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":835,"wires":[["ed6b3925.21cb58"]]},{"id":"4d9619b0.948348","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":835,"wires":[["60aa1690.80c878"]]},{"id":"327a843f.5ac09c","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":463,"y":790,"wires":[["facd4eb9.1d13a"]]},{"id":"ed6b3925.21cb58","type":"ui_slider","z":"75577868.8d6c28","name":"Video Compression /12","label":"Video Compression /12","tooltip":"","group":"62df6a27.8a48f4","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"6","step":1,"x":448,"y":835,"wires":[["327a843f.5ac09c"]]},{"id":"71cf595e.4b4888","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/video/mid/vbr","topic":"instar/000389888811/status/multimedia/video/mid/vbr","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":150,"y":888,"wires":[["4e5d5c1.dfe7ea4"]]},{"id":"95589814.6413a8","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/video/mid/vbr","topic":"instar/000389888811/multimedia/video/mid/vbr","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":650,"y":888,"wires":[]},{"id":"4e5d5c1.dfe7ea4","type":"ui_switch","z":"75577868.8d6c28","name":"Variable Bitrate /12","label":"Variable Bitrate /12","tooltip":"","group":"62df6a27.8a48f4","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":430,"y":888,"wires":[["95589814.6413a8"]]},{"id":"bdaa6c58.71283","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/video/mid/fps","topic":"instar/000389888811/status/multimedia/video/mid/fps","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":150,"y":939,"wires":[["6b3f0bb.d62b7f4"]]},{"id":"24f6633c.4e15ec","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/video/mid/fps","topic":"instar/000389888811/multimedia/video/mid/fps","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":592,"y":940,"wires":[]},{"id":"7f2bd1cd.6ff84","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":985,"wires":[["43c58502.050cdc"]]},{"id":"6b3f0bb.d62b7f4","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":985,"wires":[["7f2bd1cd.6ff84"]]},{"id":"8e85b0aa.15a25","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":940,"wires":[["24f6633c.4e15ec"]]},{"id":"43c58502.050cdc","type":"ui_slider","z":"75577868.8d6c28","name":"FPS /12","label":"FPS /12","tooltip":"","group":"62df6a27.8a48f4","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"25","step":1,"x":398,"y":985,"wires":[["8e85b0aa.15a25"]]},{"id":"5f53e3ce.01373c","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/video/low/compression","topic":"instar/000389888811/status/multimedia/video/low/compression","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":180,"y":1028,"wires":[["d96c206f.392c9"]]},{"id":"6bc8de04.3eeca","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/video/low/compression","topic":"instar/000389888811/multimedia/video/low/compression","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":680,"y":1029,"wires":[]},{"id":"852dc563.e89828","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1074,"wires":[["b315c16e.17f3d"]]},{"id":"d96c206f.392c9","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":1074,"wires":[["852dc563.e89828"]]},{"id":"dc9c6701.debbc8","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":463,"y":1029,"wires":[["6bc8de04.3eeca"]]},{"id":"b315c16e.17f3d","type":"ui_slider","z":"75577868.8d6c28","name":"Video Compression /13","label":"Video Compression /13","tooltip":"","group":"62df6a27.8a48f4","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"6","step":1,"x":467,"y":1074,"wires":[["dc9c6701.debbc8"]]},{"id":"5f596062.428a6","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/video/low/vbr","topic":"instar/000389888811/status/multimedia/video/low/vbr","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":150,"y":1127,"wires":[["a3c4914c.8da0e"]]},{"id":"5a85416e.38a76","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/video/low/vbr","topic":"instar/000389888811/multimedia/video/low/vbr","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":650,"y":1127,"wires":[]},{"id":"a3c4914c.8da0e","type":"ui_switch","z":"75577868.8d6c28","name":"Variable Bitrate /13","label":"Variable Bitrate /13","tooltip":"","group":"62df6a27.8a48f4","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":449,"y":1127,"wires":[["5a85416e.38a76"]]},{"id":"fd9cb009.bc9c9","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/video/low/fps","topic":"instar/000389888811/status/multimedia/video/low/fps","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":150,"y":1178,"wires":[["5d20e8d3.be2c98"]]},{"id":"a49b63f5.e23fe","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/video/low/fps","topic":"instar/000389888811/multimedia/video/low/fps","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":592,"y":1179,"wires":[]},{"id":"90363792.d35b48","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1224,"wires":[["84794fb6.bd715"]]},{"id":"5d20e8d3.be2c98","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":1224,"wires":[["90363792.d35b48"]]},{"id":"2797d9f.dd0f026","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":1179,"wires":[["a49b63f5.e23fe"]]},{"id":"84794fb6.bd715","type":"ui_slider","z":"75577868.8d6c28","name":"FPS /13","label":"FPS /13","tooltip":"","group":"62df6a27.8a48f4","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"25","step":1,"x":417,"y":1224,"wires":[["2797d9f.dd0f026"]]},{"id":"24986791.0f2098","type":"comment","z":"75577868.8d6c28","name":"Video","info":"","x":70,"y":480,"wires":[]},{"id":"a4013ccc.d7342","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/video/webui","topic":"instar/000389888811/status/multimedia/video/webui","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":150,"y":1289,"wires":[["b2b221d7.54d43"]]},{"id":"7cedd08d.97a06","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/video/webui","topic":"instar/000389888811/multimedia/video/webui","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":650,"y":1290,"wires":[]},{"id":"25dc1ee1.bf95c2","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1335,"wires":[["24916c55.69c3b4"]]},{"id":"b2b221d7.54d43","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":1335,"wires":[["25dc1ee1.bf95c2"]]},{"id":"bc646056.57c59","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1289,"wires":[["7cedd08d.97a06"]]},{"id":"24916c55.69c3b4","type":"ui_slider","z":"75577868.8d6c28","name":"Video in WebUI","label":"Video in WebUI","tooltip":"","group":"62df6a27.8a48f4","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"11","max":"13","step":1,"x":437,"y":1335,"wires":[["bc646056.57c59"]]},{"id":"2b0a5d0a.70ac82","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/image/brightness","topic":"instar/000389888811/status/multimedia/image/brightness","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":160,"y":1386,"wires":[["5cafce86.ac425"]]},{"id":"3ec4e226.a1ee8e","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/image/brightness","topic":"instar/000389888811/multimedia/image/brightness","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":618,"y":1386,"wires":[]},{"id":"216f5a6a.226ff6","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1432,"wires":[["c8f8a2ac.8ec77"]]},{"id":"5cafce86.ac425","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":1432,"wires":[["216f5a6a.226ff6"]]},{"id":"c27cc37f.b656","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1386,"wires":[["3ec4e226.a1ee8e"]]},{"id":"c8f8a2ac.8ec77","type":"ui_slider","z":"75577868.8d6c28","name":"Brightness","label":"Brightness","tooltip":"","group":"6f8e5f39.79497","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"100","step":1,"x":427,"y":1432,"wires":[["c27cc37f.b656"]]},{"id":"eb358462.3f93a8","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/image/saturation","topic":"instar/000389888811/status/multimedia/image/saturation","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":160,"y":1481,"wires":[["3de2fec.0d0c602"]]},{"id":"ed063bb3.13ed58","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/image/saturation","topic":"instar/000389888811/multimedia/image/saturation","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":618,"y":1481,"wires":[]},{"id":"1b501a3b.abfd76","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1527,"wires":[["35d4a63f.fcd88a"]]},{"id":"3de2fec.0d0c602","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":1527,"wires":[["1b501a3b.abfd76"]]},{"id":"2993ca63.125416","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1481,"wires":[["ed063bb3.13ed58"]]},{"id":"35d4a63f.fcd88a","type":"ui_slider","z":"75577868.8d6c28","name":"Saturation","label":"Saturation","tooltip":"","group":"6f8e5f39.79497","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"255","step":1,"x":427,"y":1527,"wires":[["2993ca63.125416"]]},{"id":"3089e447.17ec5c","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/image/hue","topic":"instar/000389888811/status/multimedia/image/hue","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":140,"y":1586,"wires":[["8358f382.b1c44"]]},{"id":"245cd4c2.e477bc","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/image/hue","topic":"instar/000389888811/multimedia/image/hue","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":598,"y":1586,"wires":[]},{"id":"661e88e6.314578","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1632,"wires":[["dbb6856c.296da8"]]},{"id":"8358f382.b1c44","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":1632,"wires":[["661e88e6.314578"]]},{"id":"eeecd217.66cb1","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1586,"wires":[["245cd4c2.e477bc"]]},{"id":"dbb6856c.296da8","type":"ui_slider","z":"75577868.8d6c28","name":"Hue","label":"Hue","tooltip":"","group":"6f8e5f39.79497","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"100","step":1,"x":407,"y":1632,"wires":[["eeecd217.66cb1"]]},{"id":"e4dfdd6.905542","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/image/contrast","topic":"instar/000389888811/status/multimedia/image/contrast","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":150,"y":1686,"wires":[["4553f25e.97e81c"]]},{"id":"2add4957.292046","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/image/contrast","topic":"instar/000389888811/multimedia/image/contrast","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":618,"y":1686,"wires":[]},{"id":"416010cc.a00c","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1732,"wires":[["1621f3da.bb397c"]]},{"id":"4553f25e.97e81c","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":1732,"wires":[["416010cc.a00c"]]},{"id":"bf9ad177.92c9","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1686,"wires":[["2add4957.292046"]]},{"id":"1621f3da.bb397c","type":"ui_slider","z":"75577868.8d6c28","name":"Contrast","label":"Contrast","tooltip":"","group":"6f8e5f39.79497","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"100","step":1,"x":417,"y":1732,"wires":[["bf9ad177.92c9"]]},{"id":"ad2f62b4.9f6ee","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/image/sharpness","topic":"instar/000389888811/status/multimedia/image/sharpness","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":160,"y":1786,"wires":[["5c9a616e.32a1c"]]},{"id":"8c7130c3.7cedf","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/image/sharpness","topic":"instar/000389888811/multimedia/image/sharpness","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":618,"y":1786,"wires":[]},{"id":"662cba8f.7fc424","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1832,"wires":[["53857b41.33c414"]]},{"id":"5c9a616e.32a1c","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":1832,"wires":[["662cba8f.7fc424"]]},{"id":"af5cc72c.24a638","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1786,"wires":[["8c7130c3.7cedf"]]},{"id":"53857b41.33c414","type":"ui_slider","z":"75577868.8d6c28","name":"Sharpness","label":"Sharpness","tooltip":"","group":"6f8e5f39.79497","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"100","step":1,"x":427,"y":1832,"wires":[["af5cc72c.24a638"]]},{"id":"8e7f5d6c.77fb6","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/image/gamma","topic":"instar/000389888811/status/multimedia/image/gamma","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":150,"y":1886,"wires":[["1e351a4b.ccdd46"]]},{"id":"2802a5b7.3d234a","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/image/gamma","topic":"instar/000389888811/multimedia/image/gamma","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":608,"y":1886,"wires":[]},{"id":"13422b6b.6bbed5","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1932,"wires":[["eba3cfb2.3049f"]]},{"id":"1e351a4b.ccdd46","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":1932,"wires":[["13422b6b.6bbed5"]]},{"id":"2c9b3a44.ab8076","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1886,"wires":[["2802a5b7.3d234a"]]},{"id":"eba3cfb2.3049f","type":"ui_slider","z":"75577868.8d6c28","name":"Gamma","label":"Gamma","tooltip":"","group":"6f8e5f39.79497","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"3","step":1,"x":417,"y":1932,"wires":[["2c9b3a44.ab8076"]]},{"id":"5f3076f.37ba088","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/image/exposure","topic":"instar/000389888811/status/multimedia/image/exposure","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":160,"y":1986,"wires":[["f1c1dcde.d7aab"]]},{"id":"6f8be4cc.4f2e5c","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/image/exposure","topic":"instar/000389888811/multimedia/image/exposure","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":618,"y":1986,"wires":[]},{"id":"f12ec136.bb00a","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":2032,"wires":[["3fb442ba.cd4c2e"]]},{"id":"f1c1dcde.d7aab","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":2032,"wires":[["f12ec136.bb00a"]]},{"id":"93732f27.a4f1d","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1986,"wires":[["6f8be4cc.4f2e5c"]]},{"id":"3fb442ba.cd4c2e","type":"ui_slider","z":"75577868.8d6c28","name":"Exposure","label":"Exposure","tooltip":"","group":"6f8e5f39.79497","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"255","step":1,"x":417,"y":2032,"wires":[["93732f27.a4f1d"]]},{"id":"3016fef0.d61182","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/image/flip","topic":"instar/000389888811/status/multimedia/image/flip","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":141,"y":2230,"wires":[["a0656622.ac02a8"]]},{"id":"8155f45c.d6d558","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/image/flip","topic":"instar/000389888811/multimedia/image/flip","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":660,"y":2230,"wires":[]},{"id":"a0656622.ac02a8","type":"ui_switch","z":"75577868.8d6c28","name":"Flip Image","label":"Flip Image","tooltip":"","group":"6f8e5f39.79497","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":430,"y":2230,"wires":[["8155f45c.d6d558"]]},{"id":"c05f5cc7.7247e","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/image/mirror","topic":"instar/000389888811/status/multimedia/image/mirror","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":151,"y":2281,"wires":[["de4db490.6d37c8"]]},{"id":"563761b2.e7199","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/image/mirror","topic":"instar/000389888811/multimedia/image/mirror","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":670,"y":2281,"wires":[]},{"id":"de4db490.6d37c8","type":"ui_switch","z":"75577868.8d6c28","name":"Mirror Image","label":"Mirror Image","tooltip":"","group":"6f8e5f39.79497","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":430,"y":2281,"wires":[["563761b2.e7199"]]},{"id":"cfb25eb3.3e00f","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/image/autodenoise","topic":"instar/000389888811/status/multimedia/image/autodenoise","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":171,"y":2335,"wires":[["df89da42.8ce178"]]},{"id":"310dce0f.15cf22","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/image/autodenoise","topic":"instar/000389888811/multimedia/image/autodenoise","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":690,"y":2335,"wires":[]},{"id":"df89da42.8ce178","type":"ui_switch","z":"75577868.8d6c28","name":"Auto Denoise","label":"Auto Denoise","tooltip":"","group":"1654b9f5.c3e6c6","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":440,"y":2335,"wires":[["310dce0f.15cf22"]]},{"id":"dbb188e1.28e248","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/image/manualdenoise","topic":"instar/000389888811/status/multimedia/image/manualdenoise","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":181,"y":2379,"wires":[["e663e25c.06d55"]]},{"id":"102493f0.2bc9bc","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/image/manualdenoise","topic":"instar/000389888811/multimedia/image/manualdenoise","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":700,"y":2379,"wires":[]},{"id":"e663e25c.06d55","type":"ui_switch","z":"75577868.8d6c28","name":"Manual Denoise","label":"Manual Denoise","tooltip":"","group":"1654b9f5.c3e6c6","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":440,"y":2379,"wires":[["102493f0.2bc9bc"]]},{"id":"7a0830a5.cae7c","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/image/autowdr","topic":"instar/000389888811/status/multimedia/image/autowdr","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":151,"y":2556,"wires":[["b6e968a4.983468"]]},{"id":"9ec6a4ae.67b818","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/image/autowdr","topic":"instar/000389888811/multimedia/image/autowdr","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":680,"y":2556,"wires":[]},{"id":"b6e968a4.983468","type":"ui_switch","z":"75577868.8d6c28","name":"Auto WDR","label":"Auto WDR","tooltip":"","group":"1654b9f5.c3e6c6","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":430,"y":2556,"wires":[["9ec6a4ae.67b818"]]},{"id":"40a4152b.206c7c","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/image/autowdrval","topic":"instar/000389888811/status/multimedia/image/autowdrval","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":162,"y":2604,"wires":[["86fee847.c6f098"]]},{"id":"19a5376c.0df7b9","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/image/autowdrval","topic":"instar/000389888811/multimedia/image/autowdrval","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":636,"y":2604,"wires":[]},{"id":"dd6ad191.80b9d","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":222,"y":2650,"wires":[["37dc1019.5430d"]]},{"id":"86fee847.c6f098","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":72,"y":2650,"wires":[["dd6ad191.80b9d"]]},{"id":"bd64e3ce.248b","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":426,"y":2604,"wires":[["19a5376c.0df7b9"]]},{"id":"37dc1019.5430d","type":"ui_slider","z":"75577868.8d6c28","name":"Auto-WDR Strength","label":"Auto-WDR Strength","tooltip":"","group":"1654b9f5.c3e6c6","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"2","step":1,"x":439,"y":2650,"wires":[["bd64e3ce.248b"]]},{"id":"7a5b0bc.ba7b8f4","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/image/manualwdrval","topic":"instar/000389888811/status/multimedia/image/manualwdrval","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":171,"y":2692,"wires":[["341ab493.775a0c"]]},{"id":"942e02a0.0023d","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/image/manualwdrval","topic":"instar/000389888811/multimedia/image/manualwdrval","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":656,"y":2692,"wires":[]},{"id":"e96132f5.ec313","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":221,"y":2738,"wires":[["af7a167e.f7aa28"]]},{"id":"341ab493.775a0c","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":71,"y":2738,"wires":[["e96132f5.ec313"]]},{"id":"a43378f2.ececc8","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":446,"y":2692,"wires":[["942e02a0.0023d"]]},{"id":"af7a167e.f7aa28","type":"ui_slider","z":"75577868.8d6c28","name":"Manual-WDR Strength","label":"Manual-WDR Strength","tooltip":"","group":"1654b9f5.c3e6c6","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"255","step":1,"x":438,"y":2738,"wires":[["a43378f2.ececc8"]]},{"id":"8b6b1b68.781438","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/image/manualdenoise","topic":"instar/000389888811/status/multimedia/image/manualdenoise","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":181,"y":2422,"wires":[["bef56eb2.0f17e"]]},{"id":"b7bca7dc.e056f8","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/image/manualdenoise","topic":"instar/000389888811/multimedia/image/manualdenoise","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":700,"y":2422,"wires":[]},{"id":"51aebcdb.a08d94","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":221,"y":2468,"wires":[["8a6825c.2902ed8"]]},{"id":"bef56eb2.0f17e","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":71,"y":2468,"wires":[["51aebcdb.a08d94"]]},{"id":"9bcb2ae9.8552d8","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":465,"y":2422,"wires":[["b7bca7dc.e056f8"]]},{"id":"8a6825c.2902ed8","type":"ui_slider","z":"75577868.8d6c28","name":"Manual-Denoise Strength","label":"Manual-Denoise Strength","tooltip":"","group":"1654b9f5.c3e6c6","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"255","step":1,"x":448,"y":2468,"wires":[["9bcb2ae9.8552d8"]]},{"id":"c7ed241f.806aa8","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/image/hardwarewdr","topic":"instar/000389888811/status/multimedia/image/hardwarewdr","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":171,"y":2511,"wires":[["4c8ad87f.e123a8"]]},{"id":"b4f11285.c8b06","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/image/hardwarewdr","topic":"instar/000389888811/multimedia/image/hardwarewdr","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":690,"y":2511,"wires":[]},{"id":"4c8ad87f.e123a8","type":"ui_switch","z":"75577868.8d6c28","name":"Hardware WDR","label":"Hardware WDR","tooltip":"","group":"1654b9f5.c3e6c6","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":440,"y":2511,"wires":[["b4f11285.c8b06"]]},{"id":"9ce6794d.156658","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/image/lenserectify","topic":"instar/000389888811/status/multimedia/image/lenserectify","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":161,"y":2779,"wires":[["adb1cda1.74d34"]]},{"id":"9570a247.209d7","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/image/lenserectify","topic":"instar/000389888811/multimedia/image/lenserectify","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":656,"y":2779,"wires":[]},{"id":"e85013c3.a5483","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":221,"y":2825,"wires":[["5ba3831.6b82e7c"]]},{"id":"adb1cda1.74d34","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":71,"y":2825,"wires":[["e85013c3.a5483"]]},{"id":"b03365eb.f4ff38","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":446,"y":2779,"wires":[["9570a247.209d7"]]},{"id":"5ba3831.6b82e7c","type":"ui_slider","z":"75577868.8d6c28","name":"Lense Rectify","label":"Lense Rectify","tooltip":"","group":"1654b9f5.c3e6c6","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"399","step":1,"x":418,"y":2825,"wires":[["b03365eb.f4ff38"]]},{"id":"19dcdf47.a5bdc1","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/overlay/showname","topic":"instar/000389888811/status/multimedia/overlay/showname","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":170,"y":2096,"wires":[["eef6b6a0.6b0538"]]},{"id":"a706cb5c.cc75c8","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/overlay/showname","topic":"instar/000389888811/multimedia/overlay/showname","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":705,"y":2096,"wires":[]},{"id":"eef6b6a0.6b0538","type":"ui_switch","z":"75577868.8d6c28","name":"Show Camera Name","label":"Show Camera Name","tooltip":"","group":"f2e54725.ffe008","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":459,"y":2096,"wires":[["a706cb5c.cc75c8"]]},{"id":"780d133f.4580cc","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/overlay/showtimestamp","topic":"instar/000389888811/status/multimedia/overlay/showtimestamp","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":180,"y":2185,"wires":[["65cd80ce.fd952"]]},{"id":"7af123c3.c3f7fc","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/overlay/showtimestamp","topic":"instar/000389888811/multimedia/overlay/showtimestamp","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":715,"y":2185,"wires":[]},{"id":"65cd80ce.fd952","type":"ui_switch","z":"75577868.8d6c28","name":"Show Timestamp","label":"Show Timestamp","tooltip":"","group":"f2e54725.ffe008","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":449,"y":2185,"wires":[["7af123c3.c3f7fc"]]},{"id":"cdc03110.60ec2","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region1/enable","topic":"instar/000389888811/multimedia/privacy/region1/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":713,"y":2880,"wires":[]},{"id":"8a0d0cc8.bf724","type":"ui_switch","z":"75577868.8d6c28","name":"Area 1","label":"Area 1","tooltip":"","group":"c2168d38.7f31a","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":423,"y":2880,"wires":[["cdc03110.60ec2"]]},{"id":"ca23511c.127ab","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region1/enable","topic":"instar/000389888811/status/multimedia/privacy/region1/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":181,"y":2880,"wires":[["8a0d0cc8.bf724"]]},{"id":"292849d7.e1c626","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region1/xorigin","topic":"instar/000389888811/status/multimedia/privacy/region1/xorigin","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":180,"y":3029,"wires":[["fde319e8.3cad08"]]},{"id":"fa539778.90a378","type":"ui_slider","z":"75577868.8d6c28","name":"Area 1 X Origin","label":"Area 1 X Origin","tooltip":"","group":"c2168d38.7f31a","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"1920","step":"1","x":423,"y":3075,"wires":[["47cfee93.ba945"]]},{"id":"f3adc241.b93d1","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":243,"y":3075,"wires":[["fa539778.90a378"]]},{"id":"fde319e8.3cad08","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":3075,"wires":[["f3adc241.b93d1"]]},{"id":"47cfee93.ba945","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":465,"y":3030,"wires":[["e6bb72b9.48f61"]]},{"id":"e6bb72b9.48f61","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region1/xorigin","topic":"instar/000389888811/multimedia/privacy/region1/xorigin","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":715,"y":3030,"wires":[]},{"id":"9126a261.13b6f","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region1/yorigin","topic":"instar/000389888811/status/multimedia/privacy/region1/yorigin","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":179,"y":3122,"wires":[["8280b5fa.f71c28"]]},{"id":"a89f85be.5c3d88","type":"ui_slider","z":"75577868.8d6c28","name":"Area 1 Y Origin","label":"Area 1 Y Origin","tooltip":"","group":"c2168d38.7f31a","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"1080","step":"1","x":422,"y":3168,"wires":[["ea89897e.6b25c8"]]},{"id":"d723c1dd.5ed22","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":242,"y":3168,"wires":[["a89f85be.5c3d88"]]},{"id":"8280b5fa.f71c28","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":89,"y":3168,"wires":[["d723c1dd.5ed22"]]},{"id":"ea89897e.6b25c8","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":464,"y":3123,"wires":[["efd4ece.d98f91"]]},{"id":"efd4ece.d98f91","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region1/yorigin","topic":"instar/000389888811/multimedia/privacy/region1/yorigin","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":717,"y":3123,"wires":[]},{"id":"696aef1a.d34a3","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region1/height","topic":"instar/000389888811/status/multimedia/privacy/region1/height","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":180,"y":3215,"wires":[["aa7a3084.2587a"]]},{"id":"2e24d294.385c4e","type":"ui_slider","z":"75577868.8d6c28","name":"Area 1 Height","label":"Area 1 Height","tooltip":"","group":"c2168d38.7f31a","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"1080","step":"1","x":423,"y":3261,"wires":[["faf28d2a.81483"]]},{"id":"c5b69706.2b5ba8","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":243,"y":3261,"wires":[["2e24d294.385c4e"]]},{"id":"aa7a3084.2587a","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":3261,"wires":[["c5b69706.2b5ba8"]]},{"id":"faf28d2a.81483","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":468,"y":3216,"wires":[["c610ad2d.6a614"]]},{"id":"c610ad2d.6a614","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region1/height","topic":"instar/000389888811/multimedia/privacy/region1/height","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":718,"y":3216,"wires":[]},{"id":"d3e4b73d.576678","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region1/width","topic":"instar/000389888811/status/multimedia/privacy/region1/width","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":180,"y":3312,"wires":[["3df921d5.1b1d8e"]]},{"id":"48875f4c.977a6","type":"ui_slider","z":"75577868.8d6c28","name":"Area 1 Width","label":"Area 1 Width","tooltip":"","group":"c2168d38.7f31a","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"1920","step":"1","x":413,"y":3358,"wires":[["693a5b97.ba2fc4"]]},{"id":"9f529e08.c3251","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":243,"y":3358,"wires":[["48875f4c.977a6"]]},{"id":"3df921d5.1b1d8e","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":90,"y":3358,"wires":[["9f529e08.c3251"]]},{"id":"693a5b97.ba2fc4","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":3313,"wires":[["c7c42b26.473208"]]},{"id":"c7c42b26.473208","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region1/width","topic":"instar/000389888811/multimedia/privacy/region1/width","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":718,"y":3313,"wires":[]},{"id":"493f2a66.d55f74","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region1/color","topic":"instar/000389888811/status/multimedia/privacy/region1/color","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":171,"y":2935,"wires":[["2fbf284c.35b038"]]},{"id":"cea77c86.97452","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":244,"y":2981,"wires":[["f4968dec.92331"]]},{"id":"2fbf284c.35b038","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":91,"y":2981,"wires":[["cea77c86.97452"]]},{"id":"ee84521f.4a685","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":2936,"wires":[["24546dcb.ba9a02"]]},{"id":"24546dcb.ba9a02","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region1/color","topic":"instar/000389888811/multimedia/privacy/region1/color","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":716,"y":2936,"wires":[]},{"id":"f4968dec.92331","type":"ui_colour_picker","z":"75577868.8d6c28","name":"Colour","label":"Colour","group":"c2168d38.7f31a","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":4,"width":0,"height":0,"passthru":false,"topic":"","x":390,"y":2980,"wires":[["ee84521f.4a685"]]},{"id":"dff97ca4.a6a45","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region2/enable","topic":"instar/000389888811/multimedia/privacy/region2/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":720,"y":3420,"wires":[]},{"id":"3bf2bef7.801eb2","type":"ui_switch","z":"75577868.8d6c28","name":"Area 2","label":"Area 2","tooltip":"","group":"dc6a9fd2.5b997","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":430,"y":3420,"wires":[["dff97ca4.a6a45"]]},{"id":"2fc8b798.5646d8","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region2/enable","topic":"instar/000389888811/status/multimedia/privacy/region2/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":188,"y":3420,"wires":[["3bf2bef7.801eb2"]]},{"id":"9463c701.1f2518","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region2/xorigin","topic":"instar/000389888811/status/multimedia/privacy/region2/xorigin","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":187,"y":3569,"wires":[["22dc7e9a.41a682"]]},{"id":"53f44fd1.6ad11","type":"ui_slider","z":"75577868.8d6c28","name":"Area 2 X Origin","label":"Area 2 X Origin","tooltip":"","group":"dc6a9fd2.5b997","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"1920","step":"1","x":430,"y":3615,"wires":[["f09e25df.bf8808"]]},{"id":"3d9a47f4.ddbfa8","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":3615,"wires":[["53f44fd1.6ad11"]]},{"id":"22dc7e9a.41a682","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":97,"y":3615,"wires":[["3d9a47f4.ddbfa8"]]},{"id":"f09e25df.bf8808","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":472,"y":3570,"wires":[["9161f286.b61fc"]]},{"id":"9161f286.b61fc","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region2/xorigin","topic":"instar/000389888811/multimedia/privacy/region2/xorigin","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":722,"y":3570,"wires":[]},{"id":"2151ea82.3ac816","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region2/yorigin","topic":"instar/000389888811/status/multimedia/privacy/region2/yorigin","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":186,"y":3662,"wires":[["42516f0c.3e378"]]},{"id":"1139f543.0230ab","type":"ui_slider","z":"75577868.8d6c28","name":"Area 2 Y Origin","label":"Area 2 Y Origin","tooltip":"","group":"dc6a9fd2.5b997","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"1080","step":"1","x":429,"y":3708,"wires":[["5984619b.a26e"]]},{"id":"d6a8bdcd.aacbb","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":249,"y":3708,"wires":[["1139f543.0230ab"]]},{"id":"42516f0c.3e378","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":96,"y":3708,"wires":[["d6a8bdcd.aacbb"]]},{"id":"5984619b.a26e","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":471,"y":3663,"wires":[["a30a6972.1bc9c8"]]},{"id":"a30a6972.1bc9c8","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region2/yorigin","topic":"instar/000389888811/multimedia/privacy/region2/yorigin","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":724,"y":3663,"wires":[]},{"id":"ae274aa9.a45708","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region2/height","topic":"instar/000389888811/status/multimedia/privacy/region2/height","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":187,"y":3755,"wires":[["d182f5e9.e01d58"]]},{"id":"335f807d.b1eab","type":"ui_slider","z":"75577868.8d6c28","name":"Area 2 Height","label":"Area 2 Height","tooltip":"","group":"dc6a9fd2.5b997","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"1080","step":"1","x":430,"y":3801,"wires":[["a64cdec3.f1b2b"]]},{"id":"1605b717.e46129","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":3801,"wires":[["335f807d.b1eab"]]},{"id":"d182f5e9.e01d58","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":97,"y":3801,"wires":[["1605b717.e46129"]]},{"id":"a64cdec3.f1b2b","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":475,"y":3756,"wires":[["8e021df4.0a18"]]},{"id":"8e021df4.0a18","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region2/height","topic":"instar/000389888811/multimedia/privacy/region2/height","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":725,"y":3756,"wires":[]},{"id":"9f9eab70.015a08","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region2/width","topic":"instar/000389888811/status/multimedia/privacy/region2/width","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":187,"y":3852,"wires":[["9ec2b90c.224a48"]]},{"id":"8b984734.7e5a38","type":"ui_slider","z":"75577868.8d6c28","name":"Area 2 Width","label":"Area 2 Width","tooltip":"","group":"dc6a9fd2.5b997","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"1920","step":"1","x":420,"y":3898,"wires":[["c7b18f93.cad78"]]},{"id":"90ba7509.e86c68","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":3898,"wires":[["8b984734.7e5a38"]]},{"id":"9ec2b90c.224a48","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":97,"y":3898,"wires":[["90ba7509.e86c68"]]},{"id":"c7b18f93.cad78","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":3853,"wires":[["aab12de7.d9beb"]]},{"id":"aab12de7.d9beb","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region2/width","topic":"instar/000389888811/multimedia/privacy/region2/width","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":725,"y":3853,"wires":[]},{"id":"bcbc75a3.bd0678","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region2/color","topic":"instar/000389888811/status/multimedia/privacy/region2/color","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":178,"y":3475,"wires":[["74de79b1.bf35f8"]]},{"id":"10f8500e.d90e7","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":251,"y":3521,"wires":[["9d3677d0.38d568"]]},{"id":"74de79b1.bf35f8","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":98,"y":3521,"wires":[["10f8500e.d90e7"]]},{"id":"d6557165.10803","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":473,"y":3476,"wires":[["ac883e1c.5a473"]]},{"id":"ac883e1c.5a473","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region2/color","topic":"instar/000389888811/multimedia/privacy/region2/color","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":723,"y":3476,"wires":[]},{"id":"9d3677d0.38d568","type":"ui_colour_picker","z":"75577868.8d6c28","name":"Colour","label":"Colour","group":"dc6a9fd2.5b997","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":4,"width":0,"height":0,"passthru":false,"topic":"","x":397,"y":3520,"wires":[["d6557165.10803"]]},{"id":"5af68320.ec36ac","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region3/enable","topic":"instar/000389888811/multimedia/privacy/region3/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":716,"y":3956,"wires":[]},{"id":"1dca064d.5aaa7a","type":"ui_switch","z":"75577868.8d6c28","name":"Area 3","label":"Area 3","tooltip":"","group":"2f5641ed.3713ae","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":426,"y":3956,"wires":[["5af68320.ec36ac"]]},{"id":"9722b7a0.a4ffe8","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region3/enable","topic":"instar/000389888811/status/multimedia/privacy/region3/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":184,"y":3956,"wires":[["1dca064d.5aaa7a"]]},{"id":"985ae625.cbca48","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region3/xorigin","topic":"instar/000389888811/status/multimedia/privacy/region3/xorigin","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":183,"y":4105,"wires":[["c2cff099.6f56e"]]},{"id":"68f2cecf.ac3ed","type":"ui_slider","z":"75577868.8d6c28","name":"Area 3 X Origin","label":"Area 3 X Origin","tooltip":"","group":"2f5641ed.3713ae","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"1920","step":"1","x":426,"y":4151,"wires":[["8e25b355.0e521"]]},{"id":"e6a46a2c.31d0a8","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":246,"y":4151,"wires":[["68f2cecf.ac3ed"]]},{"id":"c2cff099.6f56e","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":93,"y":4151,"wires":[["e6a46a2c.31d0a8"]]},{"id":"8e25b355.0e521","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":468,"y":4106,"wires":[["90845db9.4bebe"]]},{"id":"90845db9.4bebe","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region3/xorigin","topic":"instar/000389888811/multimedia/privacy/region3/xorigin","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":718,"y":4106,"wires":[]},{"id":"4df6f2da.3023ac","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region3/yorigin","topic":"instar/000389888811/status/multimedia/privacy/region3/yorigin","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":182,"y":4198,"wires":[["ab000569.f4f318"]]},{"id":"5499f9a9.adfd48","type":"ui_slider","z":"75577868.8d6c28","name":"Area 3 Y Origin","label":"Area 3 Y Origin","tooltip":"","group":"2f5641ed.3713ae","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"1080","step":"1","x":425,"y":4244,"wires":[["a130b883.2c5dd8"]]},{"id":"4b560aa5.26c4d4","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":245,"y":4244,"wires":[["5499f9a9.adfd48"]]},{"id":"ab000569.f4f318","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":92,"y":4244,"wires":[["4b560aa5.26c4d4"]]},{"id":"a130b883.2c5dd8","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":467,"y":4199,"wires":[["e87727c4.a6c708"]]},{"id":"e87727c4.a6c708","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region3/yorigin","topic":"instar/000389888811/multimedia/privacy/region3/yorigin","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":720,"y":4199,"wires":[]},{"id":"215b097.a200df6","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region3/height","topic":"instar/000389888811/status/multimedia/privacy/region3/height","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":183,"y":4291,"wires":[["9fbe0d3e.31e8b"]]},{"id":"827c58d0.baf908","type":"ui_slider","z":"75577868.8d6c28","name":"Area 3 Height","label":"Area 3 Height","tooltip":"","group":"2f5641ed.3713ae","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"1080","step":"1","x":426,"y":4337,"wires":[["21232c7c.4e2f24"]]},{"id":"832a8607.033218","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":246,"y":4337,"wires":[["827c58d0.baf908"]]},{"id":"9fbe0d3e.31e8b","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":93,"y":4337,"wires":[["832a8607.033218"]]},{"id":"21232c7c.4e2f24","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":471,"y":4292,"wires":[["5685a1d0.db3a"]]},{"id":"5685a1d0.db3a","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region3/height","topic":"instar/000389888811/multimedia/privacy/region3/height","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":721,"y":4292,"wires":[]},{"id":"96172fc3.cd1c2","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region3/width","topic":"instar/000389888811/status/multimedia/privacy/region3/width","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":183,"y":4388,"wires":[["12c58c1a.91deb4"]]},{"id":"c8245211.a5548","type":"ui_slider","z":"75577868.8d6c28","name":"Area 3 Width","label":"Area 3 Width","tooltip":"","group":"2f5641ed.3713ae","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"1920","step":"1","x":416,"y":4434,"wires":[["9da482b3.083b"]]},{"id":"d6338310.2b705","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":246,"y":4434,"wires":[["c8245211.a5548"]]},{"id":"12c58c1a.91deb4","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":93,"y":4434,"wires":[["d6338310.2b705"]]},{"id":"9da482b3.083b","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":473,"y":4389,"wires":[["52a3abbc.332154"]]},{"id":"52a3abbc.332154","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region3/width","topic":"instar/000389888811/multimedia/privacy/region3/width","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":721,"y":4389,"wires":[]},{"id":"5fb81122.1f076","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region3/color","topic":"instar/000389888811/status/multimedia/privacy/region3/color","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":174,"y":4011,"wires":[["db186c3d.79212"]]},{"id":"9a0a032e.89745","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":247,"y":4057,"wires":[["4492230e.d4621c"]]},{"id":"db186c3d.79212","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":94,"y":4057,"wires":[["9a0a032e.89745"]]},{"id":"37f08aee.8d99f6","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":469,"y":4012,"wires":[["f46eb231.17d68"]]},{"id":"f46eb231.17d68","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region3/color","topic":"instar/000389888811/multimedia/privacy/region3/color","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":719,"y":4012,"wires":[]},{"id":"4492230e.d4621c","type":"ui_colour_picker","z":"75577868.8d6c28","name":"Colour","label":"Colour","group":"2f5641ed.3713ae","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":4,"width":0,"height":0,"passthru":false,"topic":"","x":393,"y":4056,"wires":[["37f08aee.8d99f6"]]},{"id":"9f49ba48.21b5b8","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region4/enable","topic":"instar/000389888811/multimedia/privacy/region4/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":720,"y":4500,"wires":[]},{"id":"4fa3e388.7612cc","type":"ui_switch","z":"75577868.8d6c28","name":"Area 4","label":"Area 4","tooltip":"","group":"f57efb5b.e69ed8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":430,"y":4500,"wires":[["9f49ba48.21b5b8"]]},{"id":"9508c08c.30d99","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region4/enable","topic":"instar/000389888811/status/multimedia/privacy/region4/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":188,"y":4500,"wires":[["4fa3e388.7612cc"]]},{"id":"4b26e323.d033cc","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region4/xorigin","topic":"instar/000389888811/status/multimedia/privacy/region4/xorigin","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":187,"y":4649,"wires":[["1fc24918.b80c77"]]},{"id":"25cae7f8.a38bc8","type":"ui_slider","z":"75577868.8d6c28","name":"Area 4 X Origin","label":"Area 4 X Origin","tooltip":"","group":"f57efb5b.e69ed8","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"1920","step":"1","x":430,"y":4695,"wires":[["8f7fec43.2e64"]]},{"id":"b1e303be.6c7d2","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":4695,"wires":[["25cae7f8.a38bc8"]]},{"id":"1fc24918.b80c77","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":97,"y":4695,"wires":[["b1e303be.6c7d2"]]},{"id":"8f7fec43.2e64","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":472,"y":4650,"wires":[["858d4c2a.dbb4b"]]},{"id":"858d4c2a.dbb4b","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region4/xorigin","topic":"instar/000389888811/multimedia/privacy/region4/xorigin","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":722,"y":4650,"wires":[]},{"id":"329b5071.a14f3","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region4/yorigin","topic":"instar/000389888811/status/multimedia/privacy/region4/yorigin","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":186,"y":4742,"wires":[["e7bf373a.d17118"]]},{"id":"d97c8edc.fc157","type":"ui_slider","z":"75577868.8d6c28","name":"Area 4 Y Origin","label":"Area 4 Y Origin","tooltip":"","group":"f57efb5b.e69ed8","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"1080","step":"1","x":429,"y":4788,"wires":[["6958605b.877b5"]]},{"id":"a39f1c91.4dd0d","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":249,"y":4788,"wires":[["d97c8edc.fc157"]]},{"id":"e7bf373a.d17118","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":96,"y":4788,"wires":[["a39f1c91.4dd0d"]]},{"id":"6958605b.877b5","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":471,"y":4743,"wires":[["46032f92.827c"]]},{"id":"46032f92.827c","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region4/yorigin","topic":"instar/000389888811/multimedia/privacy/region4/yorigin","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":724,"y":4743,"wires":[]},{"id":"2fc07602.069c6a","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region4/height","topic":"instar/000389888811/status/multimedia/privacy/region4/height","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":187,"y":4835,"wires":[["3b3a4ae9.c01476"]]},{"id":"14a2ecfb.ae6013","type":"ui_slider","z":"75577868.8d6c28","name":"Area 4 Height","label":"Area 4 Height","tooltip":"","group":"f57efb5b.e69ed8","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"1080","step":"1","x":430,"y":4881,"wires":[["8cd901d8.7fe22"]]},{"id":"5be526c1.b35de8","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":4881,"wires":[["14a2ecfb.ae6013"]]},{"id":"3b3a4ae9.c01476","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":97,"y":4881,"wires":[["5be526c1.b35de8"]]},{"id":"8cd901d8.7fe22","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":475,"y":4836,"wires":[["e92ff2bd.b094c"]]},{"id":"e92ff2bd.b094c","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region4/height","topic":"instar/000389888811/multimedia/privacy/region4/height","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":725,"y":4836,"wires":[]},{"id":"ec1e6913.e532f8","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region4/width","topic":"instar/000389888811/status/multimedia/privacy/region4/width","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":187,"y":4932,"wires":[["cc456afd.d48b88"]]},{"id":"d6e3dda7.cda57","type":"ui_slider","z":"75577868.8d6c28","name":"Area 4 Width","label":"Area 4 Width","tooltip":"","group":"f57efb5b.e69ed8","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"1920","step":"1","x":420,"y":4978,"wires":[["1269c0f4.e306df"]]},{"id":"f2950190.debbd","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":4978,"wires":[["d6e3dda7.cda57"]]},{"id":"cc456afd.d48b88","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":97,"y":4978,"wires":[["f2950190.debbd"]]},{"id":"1269c0f4.e306df","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":4933,"wires":[["de5b6a01.1102c8"]]},{"id":"de5b6a01.1102c8","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region4/width","topic":"instar/000389888811/multimedia/privacy/region4/widnth","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":725,"y":4933,"wires":[]},{"id":"1b1c41af.41fe9e","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/privacy/region4/color","topic":"instar/000389888811/status/multimedia/privacy/region4/color","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":178,"y":4555,"wires":[["707206fa.594f68"]]},{"id":"178aa1a6.8446ae","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":251,"y":4601,"wires":[["ea4ed52e.e65318"]]},{"id":"707206fa.594f68","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":98,"y":4601,"wires":[["178aa1a6.8446ae"]]},{"id":"df95f370.fb39a","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":473,"y":4556,"wires":[["a2b3481b.072158"]]},{"id":"a2b3481b.072158","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/privacy/region4/color","topic":"instar/000389888811/multimedia/privacy/region4/color","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":723,"y":4556,"wires":[]},{"id":"ea4ed52e.e65318","type":"ui_colour_picker","z":"75577868.8d6c28","name":"Colour","label":"Colour","group":"f57efb5b.e69ed8","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":4,"width":0,"height":0,"passthru":false,"topic":"","x":397,"y":4600,"wires":[["df95f370.fb39a"]]},{"id":"98f4435.c133ac","type":"mqtt in","z":"75577868.8d6c28","name":"status/multimedia/overlay/cameraname","topic":"instar/000389888811/status/multimedia/overlay/cameraname","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":169,"y":2142,"wires":[["32d667be.e26f18"]]},{"id":"22db54e4.5b1c2c","type":"mqtt out","z":"75577868.8d6c28","name":"multimedia/overlay/cameraname","topic":"instar/000389888811/multimedia/overlay/cameraname","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":1064,"y":2142,"wires":[]},{"id":"32d667be.e26f18","type":"json","z":"75577868.8d6c28","name":"","property":"payload","action":"","pretty":false,"x":396,"y":2142,"wires":[["c054f5f9.c2e018"]]},{"id":"c054f5f9.c2e018","type":"change","z":"75577868.8d6c28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":546,"y":2142,"wires":[["2ba6026e.139dae"]]},{"id":"eaf3acd1.073f4","type":"function","z":"75577868.8d6c28","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":844,"y":2142,"wires":[["22db54e4.5b1c2c"]]},{"id":"2ba6026e.139dae","type":"ui_text_input","z":"75577868.8d6c28","name":"","label":"","tooltip":"","group":"f2e54725.ffe008","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":706,"y":2142,"wires":[["eaf3acd1.073f4"]]},{"id":"9e4e460d.640f18","type":"mqtt-broker","z":"","name":"IN-9010FHD","broker":"192.168.2.165","port":"8883","tls":"b55f9f2e.fe529","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"415281d2.09312","type":"ui_group","z":"","name":"Audio","tab":"6ae0085a.f3af78","disp":true,"width":"6","collapse":true},{"id":"62df6a27.8a48f4","type":"ui_group","z":"","name":"Video","tab":"6ae0085a.f3af78","disp":true,"width":"6","collapse":false},{"id":"6f8e5f39.79497","type":"ui_group","z":"","name":"Image","tab":"6ae0085a.f3af78","disp":true,"width":"6","collapse":false},{"id":"1654b9f5.c3e6c6","type":"ui_group","z":"","name":"Image Postprocessing","tab":"6ae0085a.f3af78","disp":true,"width":"6","collapse":true},{"id":"f2e54725.ffe008","type":"ui_group","z":"","name":"Overlay","tab":"6ae0085a.f3af78","disp":true,"width":"6","collapse":true},{"id":"c2168d38.7f31a","type":"ui_group","z":"","name":"Privacy Area 1","tab":"6ae0085a.f3af78","disp":true,"width":"6","collapse":true},{"id":"dc6a9fd2.5b997","type":"ui_group","z":"","name":"Privacy Area 2","tab":"6ae0085a.f3af78","disp":true,"width":"6","collapse":true},{"id":"2f5641ed.3713ae","type":"ui_group","z":"","name":"Privacy Area 3","tab":"6ae0085a.f3af78","disp":true,"width":"6","collapse":false},{"id":"f57efb5b.e69ed8","type":"ui_group","z":"","name":"Privacy Area 4","tab":"6ae0085a.f3af78","disp":true,"width":"6","collapse":false},{"id":"b55f9f2e.fe529","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"mqtt_client-new.crt","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"6ae0085a.f3af78","type":"ui_tab","z":"","name":"MQTT Multimedia Menu","icon":"fa-volume-up","disabled":false,"hidden":false}]