blog/2019-08-06--mqtt-node-red/MQTT-task-menu.json
[{"id":"c662f341.4019a","type":"comment","z":"b7397920.044be8","name":"Photoseries","info":"","x":90,"y":21,"wires":[]},{"id":"7fa9b54.9d4934c","type":"mqtt out","z":"b7397920.044be8","name":"task/photoseries/sdcard/enable","topic":"instar/000389888811/task/photoseries/sdcard/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":830,"y":63,"wires":[]},{"id":"201473c3.f8e1bc","type":"mqtt in","z":"b7397920.044be8","name":"status/task/photoseries/sdcard/enable","topic":"instar/000389888811/status/task/photoseries/sdcard/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":167,"y":63,"wires":[["2ddbb415.3cc33c"]]},{"id":"2ddbb415.3cc33c","type":"ui_switch","z":"b7397920.044be8","name":"SD Card","label":"SD Card","tooltip":"","group":"8ccbb689.3d5148","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":435,"y":63,"wires":[["7fa9b54.9d4934c"]]},{"id":"9e0f0d27.e3892","type":"mqtt out","z":"b7397920.044be8","name":"task/photoseries/sdcard/interval","topic":"instar/000389888811/status/photoseries/sdcard/interval","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":830,"y":111,"wires":[]},{"id":"6e52fdbb.9de784","type":"mqtt in","z":"b7397920.044be8","name":"status/task/photoseries/sdcard/interval","topic":"instar/000389888811/status/task/photoseries/sdcard/interval","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":165,"y":111,"wires":[["dc5902b4.57474"]]},{"id":"e8126c30.b7b6c","type":"change","z":"b7397920.044be8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":157,"wires":[["2b5cc07b.613b5"]]},{"id":"dc5902b4.57474","type":"json","z":"b7397920.044be8","name":"","property":"payload","action":"","pretty":false,"x":85,"y":157,"wires":[["e8126c30.b7b6c"]]},{"id":"ca4385fc.479f48","type":"function","z":"b7397920.044be8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":111,"wires":[["9e0f0d27.e3892"]]},{"id":"2b5cc07b.613b5","type":"ui_numeric","z":"b7397920.044be8","name":"SD Card Interval","label":"SD Card Interval","tooltip":"","group":"8ccbb689.3d5148","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":"86400","step":1,"x":459,"y":111,"wires":[["ca4385fc.479f48"]]},{"id":"c9182d30.c784b","type":"mqtt out","z":"b7397920.044be8","name":"task/photoseries/email/enable","topic":"instar/000389888811/task/photoseries/email/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":830,"y":200,"wires":[]},{"id":"5084f9e.6215908","type":"mqtt in","z":"b7397920.044be8","name":"status/task/photoseries/email/enable","topic":"instar/000389888811/status/task/photoseries/email/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":167,"y":200,"wires":[["b2a4e4fd.b71bc8"]]},{"id":"b2a4e4fd.b71bc8","type":"ui_switch","z":"b7397920.044be8","name":"Email","label":"Email","tooltip":"","group":"8ccbb689.3d5148","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":425,"y":200,"wires":[["c9182d30.c784b"]]},{"id":"ba71e41b.ffb718","type":"mqtt out","z":"b7397920.044be8","name":"task/photoseries/email/interval","topic":"instar/000389888811/task/photoseries/email/interval","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":830,"y":248,"wires":[]},{"id":"2deda44b.43542c","type":"mqtt in","z":"b7397920.044be8","name":"status/task/photoseries/email/interval","topic":"instar/000389888811/status/task/photoseries/email/interval","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":165,"y":248,"wires":[["68f315fc.ecb63c"]]},{"id":"bb342e59.95176","type":"change","z":"b7397920.044be8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":294,"wires":[["30334fb2.7abe2"]]},{"id":"68f315fc.ecb63c","type":"json","z":"b7397920.044be8","name":"","property":"payload","action":"","pretty":false,"x":85,"y":294,"wires":[["bb342e59.95176"]]},{"id":"801556a8.23f498","type":"function","z":"b7397920.044be8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":248,"wires":[["ba71e41b.ffb718"]]},{"id":"30334fb2.7abe2","type":"ui_numeric","z":"b7397920.044be8","name":"Email Interval","label":"Email Interval","tooltip":"","group":"8ccbb689.3d5148","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":"86400","step":1,"x":459,"y":248,"wires":[["801556a8.23f498"]]},{"id":"8b2d925e.c43a7","type":"mqtt out","z":"b7397920.044be8","name":"task/photoseries/ftp/enable","topic":"instar/000389888811/task/photoseries/ftp/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":820,"y":340,"wires":[]},{"id":"2d22cc3.cf86d34","type":"mqtt in","z":"b7397920.044be8","name":"status/task/photoseries/ftp/enable","topic":"instar/000389888811/status/task/photoseries/ftp/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":157,"y":340,"wires":[["4e7a3f8f.bd119"]]},{"id":"4e7a3f8f.bd119","type":"ui_switch","z":"b7397920.044be8","name":"FTP","label":"FTP","tooltip":"","group":"8ccbb689.3d5148","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":425,"y":340,"wires":[["8b2d925e.c43a7"]]},{"id":"ccaf5900.4228b8","type":"mqtt out","z":"b7397920.044be8","name":"task/photoseries/ftp/interval","topic":"instar/000389888811/task/photoseries/ftp/interval","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":820,"y":388,"wires":[]},{"id":"dd6090bf.8e0e4","type":"mqtt in","z":"b7397920.044be8","name":"status/task/photoseries/ftp/interval","topic":"instar/000389888811/status/task/photoseries/ftp/interval","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":155,"y":388,"wires":[["aa88c121.08b58"]]},{"id":"e7b1d3ed.14733","type":"change","z":"b7397920.044be8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":434,"wires":[["9234498a.5784d8"]]},{"id":"aa88c121.08b58","type":"json","z":"b7397920.044be8","name":"","property":"payload","action":"","pretty":false,"x":85,"y":434,"wires":[["e7b1d3ed.14733"]]},{"id":"fc487f62.e64db","type":"function","z":"b7397920.044be8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":388,"wires":[["ccaf5900.4228b8"]]},{"id":"9234498a.5784d8","type":"ui_numeric","z":"b7397920.044be8","name":"Email Interval","label":"FTP Interval","tooltip":"","group":"8ccbb689.3d5148","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":"86400","step":1,"x":459,"y":388,"wires":[["fc487f62.e64db"]]},{"id":"8e212e0f.0c051","type":"mqtt out","z":"b7397920.044be8","name":"task/photoseries/ftp/fixedname","topic":"instar/000389888811/task/photoseries/ftp/fixedname","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":830,"y":480,"wires":[]},{"id":"b07c9c1e.d5e09","type":"mqtt in","z":"b7397920.044be8","name":"status/task/photoseries/ftp/fixedname","topic":"instar/000389888811/status/task/photoseries/ftp/fixedname","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":167,"y":480,"wires":[["f11b479e.9cb9c8"]]},{"id":"f11b479e.9cb9c8","type":"ui_switch","z":"b7397920.044be8","name":"FTP Fixed Filename","label":"FTP Fixed Filename","tooltip":"","group":"8ccbb689.3d5148","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":475,"y":480,"wires":[["8e212e0f.0c051"]]},{"id":"40ca9404.1a137c","type":"mqtt out","z":"b7397920.044be8","name":"task/photoseries/ftp/filename","topic":"instar/000389888811/task/photoseries/ftp/filename","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":820,"y":528,"wires":[]},{"id":"272e852e.d6ee0a","type":"mqtt in","z":"b7397920.044be8","name":"status/task/photoseries/ftp/filename","topic":"instar/000389888811/status/task/photoseries/ftp/filename","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":155,"y":528,"wires":[["cba7957d.e1f188"]]},{"id":"525fe66c.252988","type":"change","z":"b7397920.044be8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":574,"wires":[["ff3ea72c.51b818"]]},{"id":"cba7957d.e1f188","type":"json","z":"b7397920.044be8","name":"","property":"payload","action":"","pretty":false,"x":85,"y":574,"wires":[["525fe66c.252988"]]},{"id":"333cb356.55dc5c","type":"function","z":"b7397920.044be8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":528,"wires":[["40ca9404.1a137c"]]},{"id":"ff3ea72c.51b818","type":"ui_text_input","z":"b7397920.044be8","name":"FTP Filename","label":"FTP Filename","tooltip":"","group":"8ccbb689.3d5148","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":460,"y":529,"wires":[["333cb356.55dc5c"]]},{"id":"8595f9f6.ed39a8","type":"mqtt out","z":"b7397920.044be8","name":"task/photoseries/schedule/sunday","topic":"instar/000389888811/status/photoseries/schedule/sunday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":707,"y":620,"wires":[]},{"id":"2278cbef.ff4104","type":"ui_switch","z":"b7397920.044be8","name":"Sunday","label":"Sunday","tooltip":"","group":"8ccbb689.3d5148","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":433,"y":620,"wires":[["8595f9f6.ed39a8"]]},{"id":"9879ba7f.913d78","type":"mqtt in","z":"b7397920.044be8","name":"status/task/photoseries/schedule/sunday","topic":"instar/000389888811/status/task/photoseries/schedule/sunday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":175,"y":620,"wires":[["2278cbef.ff4104"]]},{"id":"2f97b12b.fda37e","type":"mqtt out","z":"b7397920.044be8","name":"task/photoseries/schedule/monday","topic":"instar/000389888811/task/photoseries/schedule/monday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":705,"y":672,"wires":[]},{"id":"eae20aba.2dd218","type":"ui_switch","z":"b7397920.044be8","name":"Monday","label":"Monday","tooltip":"","group":"8ccbb689.3d5148","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":431,"y":672,"wires":[["2f97b12b.fda37e"]]},{"id":"dea5b92.311aa48","type":"mqtt in","z":"b7397920.044be8","name":"status/task/photoseries/schedule/monday","topic":"instar/000389888811/status/task/photoseries/schedule/monday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":173,"y":672,"wires":[["eae20aba.2dd218"]]},{"id":"c8f45a60.2ffd88","type":"mqtt out","z":"b7397920.044be8","name":"task/photoseries/schedule/tuesday","topic":"instar/000389888811/task/photoseries/schedule/tuesday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":705,"y":724,"wires":[]},{"id":"999a0eb9.6f418","type":"ui_switch","z":"b7397920.044be8","name":"Tuesday","label":"Tuesday","tooltip":"","group":"8ccbb689.3d5148","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":431,"y":724,"wires":[["c8f45a60.2ffd88"]]},{"id":"e8837573.f18e88","type":"mqtt in","z":"b7397920.044be8","name":"status/task/photoseries/schedule/tuesday","topic":"instar/000389888811/status/task/photoseries/schedule/tuesday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":173,"y":724,"wires":[["999a0eb9.6f418"]]},{"id":"7520d608.fe0a08","type":"mqtt out","z":"b7397920.044be8","name":"task/photoseries/schedule/wednesday","topic":"instar/000389888811/task/photoseries/schedule/wednesday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":717,"y":775,"wires":[]},{"id":"fc7cc6c3.c1da18","type":"ui_switch","z":"b7397920.044be8","name":"Wednesday","label":"Wednesday","tooltip":"","group":"8ccbb689.3d5148","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":443,"y":775,"wires":[["7520d608.fe0a08"]]},{"id":"9753243c.878d98","type":"mqtt in","z":"b7397920.044be8","name":"status/task/photoseries/schedule/wednesday","topic":"instar/000389888811/status/task/photoseries/schedule/wednesday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":185,"y":775,"wires":[["fc7cc6c3.c1da18"]]},{"id":"b4fd7bbf.f05c68","type":"mqtt out","z":"b7397920.044be8","name":"task/photoseries/schedule/thursday","topic":"instar/000389888811/task/photoseries/schedule/thursday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":717,"y":827,"wires":[]},{"id":"da90a3f2.a34a7","type":"ui_switch","z":"b7397920.044be8","name":"Thursday","label":"Thursday","tooltip":"","group":"8ccbb689.3d5148","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":433,"y":827,"wires":[["b4fd7bbf.f05c68"]]},{"id":"fa1c6928.e8f058","type":"mqtt in","z":"b7397920.044be8","name":"status/task/photoseries/schedule/thursday","topic":"instar/000389888811/status/task/photoseries/schedule/thursday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":175,"y":827,"wires":[["da90a3f2.a34a7"]]},{"id":"5af014f5.9eac8c","type":"mqtt out","z":"b7397920.044be8","name":"task/photoseries/schedule/friday","topic":"instar/000389888811/task/photoseries/schedule/friday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":708,"y":882,"wires":[]},{"id":"be00483e.1acab8","type":"ui_switch","z":"b7397920.044be8","name":"Friday","label":"Friday","tooltip":"","group":"8ccbb689.3d5148","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":424,"y":882,"wires":[["5af014f5.9eac8c"]]},{"id":"15452be4.54c5c4","type":"mqtt in","z":"b7397920.044be8","name":"status/task/photoseries/schedule/friday","topic":"instar/000389888811/status/task/photoseries/schedule/friday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":166,"y":882,"wires":[["be00483e.1acab8"]]},{"id":"78836da8.143444","type":"mqtt out","z":"b7397920.044be8","name":"task/photoseries/schedule/saturday","topic":"instar/000389888811/task/photoseries/schedule/saturday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":719,"y":934,"wires":[]},{"id":"8512edd2.2427e","type":"ui_switch","z":"b7397920.044be8","name":"Saturday","label":"Saturday","tooltip":"","group":"8ccbb689.3d5148","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":435,"y":934,"wires":[["78836da8.143444"]]},{"id":"c7dac274.ce9f1","type":"mqtt in","z":"b7397920.044be8","name":"status/task/photoseries/schedule/saturday","topic":"instar/000389888811/status/task/photoseries/schedule/saturday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":177,"y":934,"wires":[["8512edd2.2427e"]]},{"id":"deac56e5.4b3f28","type":"comment","z":"b7397920.044be8","name":"Video Recording","info":"","x":100,"y":985,"wires":[]},{"id":"fb75935d.1e29","type":"mqtt out","z":"b7397920.044be8","name":"task/videorecording/enable","topic":"instar/000389888811/task/videorecording/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":820,"y":1027,"wires":[]},{"id":"a30a850e.039a38","type":"mqtt in","z":"b7397920.044be8","name":"status/task/videorecording/enable","topic":"instar/000389888811/status/task/videorecording/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":157,"y":1027,"wires":[["4076a630.d2c238"]]},{"id":"4076a630.d2c238","type":"ui_switch","z":"b7397920.044be8","name":"SD Card","label":"SD Card","tooltip":"","group":"6fcfe61b.825f38","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":435,"y":1027,"wires":[["fb75935d.1e29"]]},{"id":"b1bbaca5.de40b","type":"mqtt out","z":"b7397920.044be8","name":"task/videorecording/resolution","topic":"instar/000389888811/task/videorecording/resolution","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":830,"y":1075,"wires":[]},{"id":"ddaeb258.e9d15","type":"mqtt in","z":"b7397920.044be8","name":"status/task/videorecording/resolution","topic":"instar/000389888811/status/task/videorecording/resolution","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":165,"y":1075,"wires":[["467d6b79.05abb4"]]},{"id":"27f5b098.993af","type":"change","z":"b7397920.044be8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":1121,"wires":[["bff70739.227c18"]]},{"id":"467d6b79.05abb4","type":"json","z":"b7397920.044be8","name":"","property":"payload","action":"","pretty":false,"x":85,"y":1121,"wires":[["27f5b098.993af"]]},{"id":"65fb4409.81631c","type":"function","z":"b7397920.044be8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1075,"wires":[["b1bbaca5.de40b"]]},{"id":"bff70739.227c18","type":"ui_numeric","z":"b7397920.044be8","name":"Videostream","label":"Videostream","tooltip":"","group":"6fcfe61b.825f38","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"11","max":"13","step":1,"x":449,"y":1075,"wires":[["65fb4409.81631c"]]},{"id":"4546f094.f1df9","type":"mqtt out","z":"b7397920.044be8","name":"task/videorecording/length","topic":"instar/000389888811/task/videorecording/length","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":820,"y":1160,"wires":[]},{"id":"77593723.f677d8","type":"mqtt in","z":"b7397920.044be8","name":"status/task/videorecording/length","topic":"instar/000389888811/status/task/videorecording/length","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":145,"y":1160,"wires":[["934d44c.0c0b0b8"]]},{"id":"5be76ad4.958174","type":"change","z":"b7397920.044be8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":1206,"wires":[["295956c3.f4a04a"]]},{"id":"934d44c.0c0b0b8","type":"json","z":"b7397920.044be8","name":"","property":"payload","action":"","pretty":false,"x":85,"y":1206,"wires":[["5be76ad4.958174"]]},{"id":"41e35a27.1fb844","type":"function","z":"b7397920.044be8","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1160,"wires":[["4546f094.f1df9"]]},{"id":"295956c3.f4a04a","type":"ui_numeric","z":"b7397920.044be8","name":"File Length","label":"File Length","tooltip":"","group":"6fcfe61b.825f38","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"30","max":"900","step":1,"x":443,"y":1160,"wires":[["41e35a27.1fb844"]]},{"id":"cf416faf.d80c9","type":"mqtt out","z":"b7397920.044be8","name":"task/videorecording/schedule/sunday","topic":"instar/000389888811/task/videorecording/schedule/sunday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":715,"y":1252,"wires":[]},{"id":"6abb39a8.02dda8","type":"ui_switch","z":"b7397920.044be8","name":"Sunday","label":"Sunday","tooltip":"","group":"6fcfe61b.825f38","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":457,"y":1252,"wires":[["cf416faf.d80c9"]]},{"id":"1c593374.2a15fd","type":"mqtt in","z":"b7397920.044be8","name":"status/task/videorecording/schedule/sunday","topic":"instar/000389888811/status/task/videorecording/schedule/sunday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":183,"y":1252,"wires":[["6abb39a8.02dda8"]]},{"id":"23fe84ab.156b8c","type":"mqtt out","z":"b7397920.044be8","name":"task/videorecording/schedule/monday","topic":"instar/000389888811/task/videorecording/schedule/monday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":713,"y":1304,"wires":[]},{"id":"74a4fa96.920024","type":"ui_switch","z":"b7397920.044be8","name":"Monday","label":"Monday","tooltip":"","group":"6fcfe61b.825f38","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":455,"y":1304,"wires":[["23fe84ab.156b8c"]]},{"id":"7185ce4e.4db1b","type":"mqtt in","z":"b7397920.044be8","name":"status/task/videorecording/schedule/monday","topic":"instar/000389888811/status/task/videorecording/schedule/monday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":181,"y":1304,"wires":[["74a4fa96.920024"]]},{"id":"88cad31c.4effc","type":"mqtt out","z":"b7397920.044be8","name":"task/videorecording/schedule/tuesday","topic":"instar/000389888811/task/videorecording/schedule/tuesday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":713,"y":1356,"wires":[]},{"id":"1ad8f1c8.14472e","type":"ui_switch","z":"b7397920.044be8","name":"Tuesday","label":"Tuesday","tooltip":"","group":"6fcfe61b.825f38","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":455,"y":1356,"wires":[["88cad31c.4effc"]]},{"id":"a492346d.5c2d38","type":"mqtt in","z":"b7397920.044be8","name":"status/task/videorecording/schedule/tuesday","topic":"instar/000389888811/status/task/videorecording/schedule/tuesday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":181,"y":1356,"wires":[["1ad8f1c8.14472e"]]},{"id":"b62eba11.1212a8","type":"mqtt out","z":"b7397920.044be8","name":"task/videorecording/schedule/wednesday","topic":"instar/000389888811/task/videorecording/schedule/wednesday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":725,"y":1407,"wires":[]},{"id":"70d06cc5.690724","type":"ui_switch","z":"b7397920.044be8","name":"Wednesday","label":"Wednesday","tooltip":"","group":"6fcfe61b.825f38","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":467,"y":1407,"wires":[["b62eba11.1212a8"]]},{"id":"80cdde8c.e6089","type":"mqtt in","z":"b7397920.044be8","name":"status/task/videorecording/schedule/wednesday","topic":"instar/000389888811/status/task/videorecording/schedule/wednesday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":193,"y":1407,"wires":[["70d06cc5.690724"]]},{"id":"9e27e8dc.d61d88","type":"mqtt out","z":"b7397920.044be8","name":"task/videorecording/schedule/thursday","topic":"instar/000389888811/task/videorecording/schedule/thursday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":725,"y":1459,"wires":[]},{"id":"8211cd3a.75d6a","type":"ui_switch","z":"b7397920.044be8","name":"Thursday","label":"Thursday","tooltip":"","group":"6fcfe61b.825f38","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":457,"y":1459,"wires":[["9e27e8dc.d61d88"]]},{"id":"a250f37d.2b605","type":"mqtt in","z":"b7397920.044be8","name":"status/task/videorecording/schedule/thursday","topic":"instar/000389888811/status/task/videorecording/schedule/thursday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":183,"y":1459,"wires":[["8211cd3a.75d6a"]]},{"id":"daeecff5.84d4a","type":"mqtt out","z":"b7397920.044be8","name":"task/photoseries/schedule/friday","topic":"instar/000389888811/task/videorecording/schedule/friday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":706,"y":1514,"wires":[]},{"id":"7f95980e.d79c38","type":"ui_switch","z":"b7397920.044be8","name":"Friday","label":"Friday","tooltip":"","group":"6fcfe61b.825f38","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":448,"y":1514,"wires":[["daeecff5.84d4a"]]},{"id":"fc2d956.63f5368","type":"mqtt in","z":"b7397920.044be8","name":"status/task/videorecording/schedule/friday","topic":"instar/000389888811/status/task/videorecording/schedule/friday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":174,"y":1514,"wires":[["7f95980e.d79c38"]]},{"id":"4095fa62.447024","type":"mqtt out","z":"b7397920.044be8","name":"task/videorecording/schedule/saturday","topic":"instar/000389888811/task/videorecording/schedule/saturday","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":727,"y":1566,"wires":[]},{"id":"cbafc70a.25d738","type":"ui_switch","z":"b7397920.044be8","name":"Saturday","label":"Saturday","tooltip":"","group":"6fcfe61b.825f38","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\"}","offvalueType":"str","officon":"","offcolor":"","x":459,"y":1566,"wires":[["4095fa62.447024"]]},{"id":"2630715a.ede2be","type":"mqtt in","z":"b7397920.044be8","name":"status/task/videorecording/schedule/saturday","topic":"instar/000389888811/status/task/videorecording/schedule/saturday","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":185,"y":1566,"wires":[["cbafc70a.25d738"]]},{"id":"9e4e460d.640f18","type":"mqtt-broker","z":"","name":"IN-9010FHD","broker":"192.168.2.165","port":"8883","tls":"b55f9f2e.fe529","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8ccbb689.3d5148","type":"ui_group","z":"","name":"Photoseries","tab":"759cc635.e2c3d8","disp":true,"width":"6","collapse":true},{"id":"6fcfe61b.825f38","type":"ui_group","z":"","name":"Video Recording","tab":"759cc635.e2c3d8","disp":true,"width":"6","collapse":true},{"id":"b55f9f2e.fe529","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"mqtt_client-new.crt","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"759cc635.e2c3d8","type":"ui_tab","z":"","name":"MQTT Task Menu","icon":"fa-video-camera","disabled":false,"hidden":false}]