blog/2019-08-06--mqtt-node-red/MQTT-features-menu.json
[{"id":"11603c1b.da5514","type":"comment","z":"60bc7758.b5c868","name":"Email","info":"","x":70,"y":40,"wires":[]},{"id":"13a52099.70df3f","type":"mqtt out","z":"60bc7758.b5c868","name":"features/email/sender","topic":"instar/000389888811/features/email/sender","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":800,"y":80,"wires":[]},{"id":"aae671b6.dbbcb","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/email/sender","topic":"instar/000389888811/status/features/email/sender","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":135,"y":80,"wires":[["60f37945.249538"]]},{"id":"66e55eab.79227","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":126,"wires":[["255e77b6.e0a718"]]},{"id":"60f37945.249538","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":126,"wires":[["66e55eab.79227"]]},{"id":"9eae7331.d2012","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":80,"wires":[["13a52099.70df3f"]]},{"id":"255e77b6.e0a718","type":"ui_text_input","z":"60bc7758.b5c868","name":"Sender","label":"Sender","tooltip":"","group":"2cadc9dd.bb30e6","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":417,"y":80,"wires":[["9eae7331.d2012"]]},{"id":"23f1c4ea.90bd8c","type":"mqtt out","z":"60bc7758.b5c868","name":"features/email/receiver","topic":"instar/000389888811/features/email/receiver","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":800,"y":168,"wires":[]},{"id":"5a97ac62.9fa0b4","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/email/receiver","topic":"instar/000389888811/status/features/email/receiver","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":135,"y":168,"wires":[["4ecc4b96.123d14"]]},{"id":"deeb214f.3bffa","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":214,"wires":[["b5ed2838.63c9e8"]]},{"id":"4ecc4b96.123d14","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":214,"wires":[["deeb214f.3bffa"]]},{"id":"e72decee.2e6e7","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":168,"wires":[["23f1c4ea.90bd8c"]]},{"id":"b5ed2838.63c9e8","type":"ui_text_input","z":"60bc7758.b5c868","name":"Receiver","label":"Receiver","tooltip":"","group":"2cadc9dd.bb30e6","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":417,"y":168,"wires":[["e72decee.2e6e7"]]},{"id":"93fa9ca5.46c2c","type":"mqtt out","z":"60bc7758.b5c868","name":"features/email/subject","topic":"instar/000389888811/features/email/subject","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":800,"y":254,"wires":[]},{"id":"f0149f3c.c4b3a","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/email/subject","topic":"instar/000389888811/status/features/email/subject","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":135,"y":254,"wires":[["adb7c982.61a6a8"]]},{"id":"9ca4cffe.f9568","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":300,"wires":[["fa47482f.29a418"]]},{"id":"adb7c982.61a6a8","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":300,"wires":[["9ca4cffe.f9568"]]},{"id":"406102e3.a3d76c","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":254,"wires":[["93fa9ca5.46c2c"]]},{"id":"fa47482f.29a418","type":"ui_text_input","z":"60bc7758.b5c868","name":"Subject","label":"Subject","tooltip":"","group":"2cadc9dd.bb30e6","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":417,"y":254,"wires":[["406102e3.a3d76c"]]},{"id":"e96f8bae.604908","type":"mqtt out","z":"60bc7758.b5c868","name":"features/email/text","topic":"instar/000389888811/features/email/text","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":790,"y":340,"wires":[]},{"id":"6be75a82.8b1964","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/email/text","topic":"instar/000389888811/status/features/email/text","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":125,"y":340,"wires":[["7b19d069.8792f"]]},{"id":"247ffb4e.ca5674","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":386,"wires":[["34f16bb4.6c6884"]]},{"id":"7b19d069.8792f","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":386,"wires":[["247ffb4e.ca5674"]]},{"id":"96386193.2691d","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":340,"wires":[["e96f8bae.604908"]]},{"id":"34f16bb4.6c6884","type":"ui_text_input","z":"60bc7758.b5c868","name":"Text","label":"Text","tooltip":"","group":"2cadc9dd.bb30e6","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":407,"y":340,"wires":[["96386193.2691d"]]},{"id":"f7bde377.eb615","type":"mqtt out","z":"60bc7758.b5c868","name":"features/email/server","topic":"instar/000389888811/features/email/server","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":800,"y":427,"wires":[]},{"id":"1ee158f8.beb307","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/email/server","topic":"instar/000389888811/status/features/email/server","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":135,"y":427,"wires":[["69dfe2dd.f6450c"]]},{"id":"198eabe2.8b3ae4","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":473,"wires":[["627c3892.fef2f8"]]},{"id":"69dfe2dd.f6450c","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":473,"wires":[["198eabe2.8b3ae4"]]},{"id":"42937866.417f58","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":427,"wires":[["f7bde377.eb615"]]},{"id":"627c3892.fef2f8","type":"ui_text_input","z":"60bc7758.b5c868","name":"SMTP Server","label":"SMTP Server","tooltip":"","group":"2cadc9dd.bb30e6","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":427,"y":427,"wires":[["42937866.417f58"]]},{"id":"50eccd20.9c4e54","type":"mqtt out","z":"60bc7758.b5c868","name":"features/email/ssl","topic":"instar/000389888811/features/email/ssl","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":790,"y":513,"wires":[]},{"id":"dad876b7.6b6c58","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/email/ssl","topic":"instar/000389888811/status/features/email/ssl","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":125,"y":513,"wires":[["d16c05b2.204688"]]},{"id":"d34caeb3.1d53b","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":559,"wires":[["422a8af2.309dc4"]]},{"id":"d16c05b2.204688","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":559,"wires":[["d34caeb3.1d53b"]]},{"id":"156c6a2f.8413a6","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":513,"wires":[["50eccd20.9c4e54"]]},{"id":"422a8af2.309dc4","type":"ui_numeric","z":"60bc7758.b5c868","name":"SSL","label":"SSL","tooltip":"","group":"2cadc9dd.bb30e6","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"3","step":1,"x":411,"y":513,"wires":[["156c6a2f.8413a6"]]},{"id":"32c3233e.e2d96c","type":"mqtt out","z":"60bc7758.b5c868","name":"features/email/authentication","topic":"instar/000389888811/features/email/authentication","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":820,"y":600,"wires":[]},{"id":"a339c7cd.d09cc8","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/email/authentication","topic":"instar/000389888811/status/features/email/authentication","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":157,"y":600,"wires":[["a38fb865.4698c8"]]},{"id":"a38fb865.4698c8","type":"ui_switch","z":"60bc7758.b5c868","name":"SMTP Authentication","label":"SMTP Authentication","tooltip":"","group":"9fe3c86f.0b6dd8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":457,"y":600,"wires":[["32c3233e.e2d96c"]]},{"id":"c9ed8aaf.03c058","type":"mqtt out","z":"60bc7758.b5c868","name":"features/email/username","topic":"instar/000389888811/features/email/username","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":810,"y":647,"wires":[]},{"id":"41fbf735.3a1fc8","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/email/username","topic":"instar/000389888811/status/features/email/username","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":145,"y":647,"wires":[["f2786e73.d988e"]]},{"id":"8a65fc05.5d25","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":693,"wires":[["f42608ae.64f338"]]},{"id":"f2786e73.d988e","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":693,"wires":[["8a65fc05.5d25"]]},{"id":"8420b7f8.f612b8","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":647,"wires":[["c9ed8aaf.03c058"]]},{"id":"a3deafda.3e473","type":"mqtt out","z":"60bc7758.b5c868","name":"features/email/password","topic":"instar/000389888811/features/email/password","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":810,"y":732,"wires":[]},{"id":"14fb6601.109f5a","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/email/password","topic":"instar/000389888811/status/features/email/password","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":145,"y":732,"wires":[["aefbdc4.8bca32"]]},{"id":"ffdff291.f4e1c","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":778,"wires":[["d2f678b4.66da68"]]},{"id":"aefbdc4.8bca32","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":778,"wires":[["ffdff291.f4e1c"]]},{"id":"c5048c60.a46ec","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":732,"wires":[["a3deafda.3e473"]]},{"id":"f42608ae.64f338","type":"ui_text_input","z":"60bc7758.b5c868","name":"SMTP Username","label":"SMTP Username","tooltip":"","group":"2cadc9dd.bb30e6","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":448,"y":647,"wires":[["8420b7f8.f612b8"]]},{"id":"d2f678b4.66da68","type":"ui_text_input","z":"60bc7758.b5c868","name":"SMTP Password","label":"SMTP Password","tooltip":"","group":"2cadc9dd.bb30e6","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":450,"y":732,"wires":[["c5048c60.a46ec"]]},{"id":"b737876c.fc1478","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ftp/server","topic":"instar/000389888811/features/ftp/server","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":790,"y":860,"wires":[]},{"id":"458983f2.5bc0ec","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ftp/server","topic":"instar/000389888811/status/features/ftp/server","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":125,"y":860,"wires":[["6336edee.f885d4"]]},{"id":"d192fa46.877c28","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":906,"wires":[["ad8d5ee8.9dce7"]]},{"id":"6336edee.f885d4","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":906,"wires":[["d192fa46.877c28"]]},{"id":"ba9e7210.b9db7","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":860,"wires":[["b737876c.fc1478"]]},{"id":"ad8d5ee8.9dce7","type":"ui_text_input","z":"60bc7758.b5c868","name":"Server Address","label":"Server Address","tooltip":"","group":"3e784105.8af3ae","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":437,"y":860,"wires":[["ba9e7210.b9db7"]]},{"id":"82180b2a.9440d8","type":"comment","z":"60bc7758.b5c868","name":"FTP","info":"","x":70,"y":820,"wires":[]},{"id":"975728c.385ecd8","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ftp/port","topic":"instar/000389888811/features/ftp/port","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":780,"y":947,"wires":[]},{"id":"d24b3e0e.24f9c","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ftp/port","topic":"instar/000389888811/status/features/ftp/port","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":115,"y":947,"wires":[["1234511.60d1baf"]]},{"id":"5b58c501.726f8c","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":993,"wires":[["13392c.0245e6d5"]]},{"id":"1234511.60d1baf","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":993,"wires":[["5b58c501.726f8c"]]},{"id":"6c7e106c.9efc7","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":947,"wires":[["975728c.385ecd8"]]},{"id":"13392c.0245e6d5","type":"ui_numeric","z":"60bc7758.b5c868","name":"Port","label":"Port","tooltip":"","group":"3e784105.8af3ae","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":"65536","step":1,"x":411,"y":947,"wires":[["6c7e106c.9efc7"]]},{"id":"f05e958f.a95e88","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ftp/username","topic":"instar/000389888811/features/ftp/username","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":800,"y":1040,"wires":[]},{"id":"71222d42.a25fc4","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ftp/username","topic":"instar/000389888811/status/features/ftp/username","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":135,"y":1040,"wires":[["8d861cbd.b2b9e"]]},{"id":"a2047847.4efbd8","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":1086,"wires":[["b6ddefa5.12da2"]]},{"id":"8d861cbd.b2b9e","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":1086,"wires":[["a2047847.4efbd8"]]},{"id":"403296e0.2198e8","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1040,"wires":[["f05e958f.a95e88"]]},{"id":"b6ddefa5.12da2","type":"ui_text_input","z":"60bc7758.b5c868","name":"Username","label":"Username","tooltip":"","group":"3e784105.8af3ae","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":430,"y":1040,"wires":[["403296e0.2198e8"]]},{"id":"b1807acc.2ce878","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ftp/password","topic":"instar/000389888811/features/ftp/password","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":800,"y":1126,"wires":[]},{"id":"ace3ca5.4e65338","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ftp/password","topic":"instar/000389888811/status/features/ftp/password","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":135,"y":1126,"wires":[["4f9e42ec.04a24c"]]},{"id":"30fa4318.37b76c","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":1172,"wires":[["80a26a82.b58078"]]},{"id":"4f9e42ec.04a24c","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":1172,"wires":[["30fa4318.37b76c"]]},{"id":"8e2759e2.f8a818","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1126,"wires":[["b1807acc.2ce878"]]},{"id":"80a26a82.b58078","type":"ui_text_input","z":"60bc7758.b5c868","name":"Password","label":"Password","tooltip":"","group":"3e784105.8af3ae","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":420,"y":1126,"wires":[["8e2759e2.f8a818"]]},{"id":"fef7fd66.ef08d","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ftp/pasvmode","topic":"instar/000389888811/features/ftp/pasvmode","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":800,"y":1213,"wires":[]},{"id":"dad4bd2a.fa6d9","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ftp/pasvmode","topic":"instar/000389888811/status/features/ftp/pasvmode","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":137,"y":1213,"wires":[["4e53e42.87f311c"]]},{"id":"4e53e42.87f311c","type":"ui_switch","z":"60bc7758.b5c868","name":"SMTP Authentication","label":"SMTP Authentication","tooltip":"","group":"3e784105.8af3ae","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":457,"y":1213,"wires":[["fef7fd66.ef08d"]]},{"id":"2df0caba.368566","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ftp/dirname","topic":"instar/000389888811/features/ftp/dirname","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":804,"y":1256,"wires":[]},{"id":"ae997383.d0e58","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ftp/dirname","topic":"instar/000389888811/status/features/ftp/dirname","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":129,"y":1256,"wires":[["1b4b2d8c.53c9e2"]]},{"id":"7065bbe6.a820c4","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":242,"y":1302,"wires":[["8cca4d47.67c4f"]]},{"id":"1b4b2d8c.53c9e2","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":89,"y":1302,"wires":[["7065bbe6.a820c4"]]},{"id":"34fb30c0.762b5","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":624,"y":1256,"wires":[["2df0caba.368566"]]},{"id":"8cca4d47.67c4f","type":"ui_text_input","z":"60bc7758.b5c868","name":"Directory Path","label":"Directory Path","tooltip":"","group":"3e784105.8af3ae","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":438,"y":1256,"wires":[["34fb30c0.762b5"]]},{"id":"ff28d9bc.7cb9e8","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ftp/dirmode","topic":"instar/000389888811/features/ftp/dirmode","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":800,"y":1340,"wires":[]},{"id":"ce02c458.dad368","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ftp/dirmode","topic":"instar/000389888811/status/features/ftp/dirmode","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":137,"y":1340,"wires":[["a2bc5727.89e868"]]},{"id":"a2bc5727.89e868","type":"ui_switch","z":"60bc7758.b5c868","name":"Directory Mode","label":"Directory Mode","tooltip":"","group":"3e784105.8af3ae","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":437,"y":1340,"wires":[["ff28d9bc.7cb9e8"]]},{"id":"af2a1e0.68048e","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ftp/ssl","topic":"instar/000389888811/features/ftp/ssl","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":780,"y":1389,"wires":[]},{"id":"d7bc6c03.77578","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ftp/ssl","topic":"instar/000389888811/status/features/ftp/ssl","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":117,"y":1389,"wires":[["597a0f09.0fde7"]]},{"id":"597a0f09.0fde7","type":"ui_switch","z":"60bc7758.b5c868","name":"Encryption","label":"Encryption","tooltip":"","group":"3e784105.8af3ae","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":427,"y":1389,"wires":[["af2a1e0.68048e"]]},{"id":"a0a5f3a1.c8b51","type":"mqtt out","z":"60bc7758.b5c868","name":"features/nightvision/autoled","topic":"instar/000389888811/features/nightvision/autoled","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":820,"y":1480,"wires":[]},{"id":"143d41e5.0e025e","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/nightvision/autoled","topic":"instar/000389888811/status/features/nightvision/autoled","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":155,"y":1480,"wires":[["62991aee.25a774"]]},{"id":"60716a.f0d24e98","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":1526,"wires":[["13684ead.49b471"]]},{"id":"62991aee.25a774","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":1526,"wires":[["60716a.f0d24e98"]]},{"id":"27dff88b.2564d8","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1480,"wires":[["a0a5f3a1.c8b51"]]},{"id":"13684ead.49b471","type":"ui_text_input","z":"60bc7758.b5c868","name":"IR LED Mode","label":"IR LED Mode","tooltip":"","group":"25eb07c7.fcaf88","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":427,"y":1480,"wires":[["27dff88b.2564d8"]]},{"id":"c4ead7e0.f60c58","type":"comment","z":"60bc7758.b5c868","name":"Nightvision","info":"","x":80,"y":1440,"wires":[]},{"id":"5f655aca.bbd704","type":"mqtt out","z":"60bc7758.b5c868","name":"features/nightvision/autoircut","topic":"instar/000389888811/features/nightvision/autoircut","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":820,"y":1565,"wires":[]},{"id":"ab67640a.b60418","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/nightvision/autoircut","topic":"instar/000389888811/status/features/nightvision/autoircut","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":155,"y":1565,"wires":[["45792f48.fa0c"]]},{"id":"4a01f97c.bd7928","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":1611,"wires":[["c94fc43d.598b38"]]},{"id":"45792f48.fa0c","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":1611,"wires":[["4a01f97c.bd7928"]]},{"id":"92a7ed3c.2bd15","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1565,"wires":[["5f655aca.bbd704"]]},{"id":"c94fc43d.598b38","type":"ui_text_input","z":"60bc7758.b5c868","name":"IRCut Mode","label":"IRCut Mode","tooltip":"","group":"25eb07c7.fcaf88","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":427,"y":1565,"wires":[["92a7ed3c.2bd15"]]},{"id":"90c20f65.54bf","type":"mqtt out","z":"60bc7758.b5c868","name":"features/nightvision/manualswitchon","topic":"instar/000389888811/features/nightvision/manualswitchon","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":850,"y":1650,"wires":[]},{"id":"f7932252.fd8dd","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/nightvision/manualswitchon","topic":"instar/000389888811/status/features/nightvision/manualswitchon","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":185,"y":1650,"wires":[["fa3e8265.5a9f9"]]},{"id":"84eb75ff.8e5308","type":"mqtt out","z":"60bc7758.b5c868","name":"features/nightvision/manualswitchontime","topic":"instar/000389888811/features/nightvision/manualswitchontime","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":860,"y":1746,"wires":[]},{"id":"ce400f90.f6fbe","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/nightvision/manualswitchontime","topic":"instar/000389888811/status/features/nightvision/manualswitchontime","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":195,"y":1746,"wires":[["a2077476.6fcb18"]]},{"id":"574fde3c.71b28","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":318,"y":1792,"wires":[["11682af3.b5b165"]]},{"id":"a2077476.6fcb18","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":165,"y":1792,"wires":[["574fde3c.71b28"]]},{"id":"ca0ce67e.be6088","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1746,"wires":[["84eb75ff.8e5308"]]},{"id":"11682af3.b5b165","type":"ui_numeric","z":"60bc7758.b5c868","name":"","label":"On Time","tooltip":"","group":"25eb07c7.fcaf88","order":4,"width":0,"height":0,"passthru":false,"topic":"On Time","format":"{{value}}","min":0,"max":"86400","step":1,"x":484,"y":1746,"wires":[["ca0ce67e.be6088"]]},{"id":"fa3e8265.5a9f9","type":"ui_switch","z":"60bc7758.b5c868","name":"Manual Switch On","label":"Manual Switch On","tooltip":"","group":"25eb07c7.fcaf88","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":469,"y":1650,"wires":[["90c20f65.54bf"]]},{"id":"3d9ef8b0.22b648","type":"mqtt out","z":"60bc7758.b5c868","name":"features/nightvision/manualswitchofftime","topic":"instar/000389888811/features/nightvision/manualswitchofftime","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":860,"y":1836,"wires":[]},{"id":"a432195b.6e71e8","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/nightvision/manualswitchofftime","topic":"instar/000389888811/status/features/nightvision/manualswitchofftime","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":195,"y":1836,"wires":[["2219f673.8253da"]]},{"id":"bf79d44d.eb78a8","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":318,"y":1882,"wires":[["b12a8812.939208"]]},{"id":"2219f673.8253da","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":165,"y":1882,"wires":[["bf79d44d.eb78a8"]]},{"id":"9a117c0f.480f9","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1836,"wires":[["3d9ef8b0.22b648"]]},{"id":"b12a8812.939208","type":"ui_numeric","z":"60bc7758.b5c868","name":"","label":"Off Time","tooltip":"","group":"25eb07c7.fcaf88","order":4,"width":0,"height":0,"passthru":false,"topic":"Off Time","format":"{{value}}","min":0,"max":"86400","step":1,"x":484,"y":1836,"wires":[["9a117c0f.480f9"]]},{"id":"4eced2f2.e9a83c","type":"mqtt out","z":"60bc7758.b5c868","name":"features/nightvision/manualswitchoff","topic":"instar/000389888811/features/nightvision/manualswitchoff","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":850,"y":1700,"wires":[]},{"id":"ffee744e.0dc6f8","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/nightvision/manualswitchoff","topic":"instar/000389888811/status/features/nightvision/manualswitchoff","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":185,"y":1700,"wires":[["13e91546.7fed8b"]]},{"id":"13e91546.7fed8b","type":"ui_switch","z":"60bc7758.b5c868","name":"Manual Switch Off","label":"Manual Switch Off","tooltip":"","group":"25eb07c7.fcaf88","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":469,"y":1700,"wires":[["4eced2f2.e9a83c"]]},{"id":"933b7d01.8095f","type":"mqtt out","z":"60bc7758.b5c868","name":"features/nightvision/upperirthreshold","topic":"instar/000389888811/features/nightvision/upperirthreshold","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":906,"y":1920,"wires":[]},{"id":"12f05011.aae63","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/nightvision/upperirthreshold","topic":"instar/000389888811/status/features/nightvision/upperirthreshold","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":184,"y":1920,"wires":[["903b6221.3518d"]]},{"id":"92a9d827.32c1c8","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":317,"y":1966,"wires":[["98fa9428.1248a8"]]},{"id":"903b6221.3518d","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":164,"y":1966,"wires":[["92a9d827.32c1c8"]]},{"id":"1b141233.f23e9e","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":676,"y":1920,"wires":[["933b7d01.8095f"]]},{"id":"98fa9428.1248a8","type":"ui_numeric","z":"60bc7758.b5c868","name":"","label":"Upper Threshold","tooltip":"","group":"25eb07c7.fcaf88","order":4,"width":0,"height":0,"passthru":false,"topic":"Upper Threshold","format":"{{value}}","min":"1","max":"270","step":1,"x":489,"y":1920,"wires":[["1b141233.f23e9e"]]},{"id":"84c8e78.8675018","type":"mqtt out","z":"60bc7758.b5c868","name":"features/nightvision/lowerirthreshold","topic":"instar/000389888811/features/nightvision/lowerirthreshold","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":906,"y":2006,"wires":[]},{"id":"844917c1.425968","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/nightvision/lowerirthreshold","topic":"instar/000389888811/status/features/nightvision/lowerirthreshold","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":174,"y":2006,"wires":[["99576aef.4ef068"]]},{"id":"6a6a29cd.758288","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":317,"y":2052,"wires":[["8187891f.11f968"]]},{"id":"99576aef.4ef068","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":164,"y":2052,"wires":[["6a6a29cd.758288"]]},{"id":"979924c9.b0a378","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":676,"y":2006,"wires":[["84c8e78.8675018"]]},{"id":"8187891f.11f968","type":"ui_numeric","z":"60bc7758.b5c868","name":"","label":"Lower Threshold","tooltip":"","group":"25eb07c7.fcaf88","order":4,"width":0,"height":0,"passthru":false,"topic":"Lower Threshold","format":"{{value}}","min":"1","max":"270","step":1,"x":489,"y":2006,"wires":[["979924c9.b0a378"]]},{"id":"f77b21bb.0f087","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/nightvision/currentbrightness","topic":"instar/000389888811/status/features/nightvision/currentbrightness","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":187,"y":2100,"wires":[["75228fbe.1a8d2"]]},{"id":"58eb20a6.f5c4f","type":"ui_gauge","z":"60bc7758.b5c868","name":"Current Brightness","group":"25eb07c7.fcaf88","order":4,"width":0,"height":0,"gtype":"gage","title":"Current Brightness","label":"units","format":"{{value}}","min":0,"max":"270","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":2100,"wires":[]},{"id":"43c0325f.04828c","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2100,"wires":[["58eb20a6.f5c4f"]]},{"id":"75228fbe.1a8d2","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":467,"y":2100,"wires":[["43c0325f.04828c"]]},{"id":"cc0e7cbf.b4d1d","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ptz/calibration/enable","topic":"instar/000389888811/features/ptz/calibration/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":830,"y":2199,"wires":[]},{"id":"255b9d80.065d62","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ptz/calibration/enable","topic":"instar/000389888811/status/features/ptz/calibration/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":167,"y":2199,"wires":[["bd7952a8.9c164"]]},{"id":"bd7952a8.9c164","type":"ui_switch","z":"60bc7758.b5c868","name":"Self Calibration","label":"Self Calibration","tooltip":"","group":"329ba8c6.6759d8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":455,"y":2199,"wires":[["cc0e7cbf.b4d1d"]]},{"id":"cfb308af.536378","type":"comment","z":"60bc7758.b5c868","name":"PTZ","info":"","x":70,"y":2160,"wires":[]},{"id":"77509636.613ee8","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ptz/startpreset/enable","topic":"instar/000389888811/features/ptz/startpreset/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":830,"y":2247,"wires":[]},{"id":"2df88c01.890054","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ptz/startpreset/enable","topic":"instar/000389888811/status/features/ptz/startpreset/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":167,"y":2247,"wires":[["b49847dc.ac4918"]]},{"id":"b49847dc.ac4918","type":"ui_switch","z":"60bc7758.b5c868","name":"Start Preset","label":"Start Preset","tooltip":"","group":"329ba8c6.6759d8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":445,"y":2247,"wires":[["77509636.613ee8"]]},{"id":"4c407709.601f78","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ptz/startpreset/position","topic":"instar/000389888811/features/ptz/startpreset/position","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":830,"y":2295,"wires":[]},{"id":"e3a6fb1d.c56808","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ptz/startpreset/position","topic":"instar/000389888811/status/features/ptz/startpreset/position","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":165,"y":2295,"wires":[["78401b0a.814a34"]]},{"id":"1f1a5b62.d9e715","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":2341,"wires":[["6046511e.2eb6d"]]},{"id":"78401b0a.814a34","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":2341,"wires":[["1f1a5b62.d9e715"]]},{"id":"96c143e3.9f9f3","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2295,"wires":[["4c407709.601f78"]]},{"id":"6046511e.2eb6d","type":"ui_numeric","z":"60bc7758.b5c868","name":"Startposition","label":"Startposition","tooltip":"","group":"329ba8c6.6759d8","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":"8","step":1,"x":449,"y":2295,"wires":[["96c143e3.9f9f3"]]},{"id":"104f9fe0.8e12c","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ptz/alarmpreset/enable","topic":"instar/000389888811/features/ptz/alarmpreset/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":830,"y":2379,"wires":[]},{"id":"b2555dd1.f9d84","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ptz/alarmpreset/enable","topic":"instar/000389888811/status/features/ptz/alarmpreset/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":167,"y":2379,"wires":[["e76f548b.041fe8"]]},{"id":"e76f548b.041fe8","type":"ui_switch","z":"60bc7758.b5c868","name":"Alarm Preset","label":"Alarm Preset","tooltip":"","group":"329ba8c6.6759d8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":445,"y":2379,"wires":[["104f9fe0.8e12c"]]},{"id":"235016e3.c2cc6a","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ptz/alarmpreset/position","topic":"instar/000389888811/features/ptz/alarmpreset/position","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":840,"y":2425,"wires":[]},{"id":"f718196.a93f7e8","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ptz/alarmpreset/position","topic":"instar/000389888811/status/features/ptz/alarmpreset/position","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":165,"y":2425,"wires":[["e0e9b305.d9107"]]},{"id":"6d44fe83.5dbac","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":2471,"wires":[["701e9db5.dd1e44"]]},{"id":"e0e9b305.d9107","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":2471,"wires":[["6d44fe83.5dbac"]]},{"id":"4a51e590.af8bdc","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2425,"wires":[["235016e3.c2cc6a"]]},{"id":"701e9db5.dd1e44","type":"ui_numeric","z":"60bc7758.b5c868","name":"Alarmposition","label":"Alarmposition","tooltip":"","group":"329ba8c6.6759d8","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":"8","step":1,"x":459,"y":2425,"wires":[["4a51e590.af8bdc"]]},{"id":"51042f21.c7e6d","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ptz/ptzalarmmask","topic":"instar/000389888811/features/ptz/ptzalarmmask","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":820,"y":2512,"wires":[]},{"id":"738f52a5.8a71dc","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ptz/ptzalarmmask","topic":"instar/000389888811/status/features/ptz/ptzalarmmask","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":147,"y":2512,"wires":[["7fafc4ba.c9a0fc"]]},{"id":"7fafc4ba.c9a0fc","type":"ui_switch","z":"60bc7758.b5c868","name":"PTZ Alarm Mask","label":"PTZ Alarm Mask","tooltip":"","group":"329ba8c6.6759d8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":465,"y":2512,"wires":[["51042f21.c7e6d"]]},{"id":"3eed6bb4.5acab4","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ptz/panspeed","topic":"instar/000389888811/features/ptz/panspeed","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":800,"y":2560,"wires":[]},{"id":"ce6de9d0.cf0bc8","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ptz/panspeed","topic":"instar/000389888811/status/features/ptz/panspeed","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":135,"y":2560,"wires":[["3f8e1ddc.1f6f62"]]},{"id":"1c4ce3da.7be6ac","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":2606,"wires":[["7b640281.c981dc"]]},{"id":"3f8e1ddc.1f6f62","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":2606,"wires":[["1c4ce3da.7be6ac"]]},{"id":"4487050.10f6cfc","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2560,"wires":[["3eed6bb4.5acab4"]]},{"id":"7b640281.c981dc","type":"ui_numeric","z":"60bc7758.b5c868","name":"Pan Speed","label":"Pan Speed","tooltip":"","group":"329ba8c6.6759d8","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"0","max":"2","step":1,"x":449,"y":2560,"wires":[["4487050.10f6cfc"]]},{"id":"50d04e5d.eb075","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ptz/tiltspeed","topic":"instar/000389888811/features/ptz/tiltspeed","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":800,"y":2645,"wires":[]},{"id":"39311c3e.f629e4","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ptz/tiltspeed","topic":"instar/000389888811/status/features/ptz/tiltspeed","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":135,"y":2645,"wires":[["a32fa7d2.f1c638"]]},{"id":"7354e435.f7b06c","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":2691,"wires":[["ed1546c3.76e418"]]},{"id":"a32fa7d2.f1c638","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":2691,"wires":[["7354e435.f7b06c"]]},{"id":"2f8b5c00.b154b4","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2645,"wires":[["50d04e5d.eb075"]]},{"id":"ed1546c3.76e418","type":"ui_numeric","z":"60bc7758.b5c868","name":"Tilt Speed","label":"Tilt Speed","tooltip":"","group":"329ba8c6.6759d8","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"0","max":"2","step":1,"x":439,"y":2645,"wires":[["2f8b5c00.b154b4"]]},{"id":"c2370372.747fe","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ptz/panscan","topic":"instar/000389888811/features/ptz/panscan","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":800,"y":2733,"wires":[]},{"id":"4cbe5a5b.f56c54","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ptz/panscan","topic":"instar/000389888811/status/features/ptz/panscan","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":135,"y":2733,"wires":[["726ad5c8.c0158c"]]},{"id":"dacd84a8.ae6818","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":2779,"wires":[["bb776060.2d6b8"]]},{"id":"726ad5c8.c0158c","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":2779,"wires":[["dacd84a8.ae6818"]]},{"id":"e6e98e9c.b62dd","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2733,"wires":[["c2370372.747fe"]]},{"id":"bb776060.2d6b8","type":"ui_numeric","z":"60bc7758.b5c868","name":"Pan Cycles","label":"Pan Cycles","tooltip":"","group":"329ba8c6.6759d8","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":"50","step":1,"x":449,"y":2733,"wires":[["e6e98e9c.b62dd"]]},{"id":"fabb3230.a8f25","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ptz/tiltscan","topic":"instar/000389888811/features/ptz/tiltscan","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":800,"y":2820,"wires":[]},{"id":"e0aadf01.a8ac7","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ptz/tiltscan","topic":"instar/000389888811/status/features/ptz/tiltscan","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":125,"y":2820,"wires":[["bfe05e61.c85bb"]]},{"id":"52abec4a.1cd104","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":2866,"wires":[["99c64836.c8dab8"]]},{"id":"bfe05e61.c85bb","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":2866,"wires":[["52abec4a.1cd104"]]},{"id":"3d1707a1.7c6ef8","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2820,"wires":[["fabb3230.a8f25"]]},{"id":"99c64836.c8dab8","type":"ui_numeric","z":"60bc7758.b5c868","name":"Tilt Cycles","label":"Tilt Cycles","tooltip":"","group":"329ba8c6.6759d8","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":"50","step":1,"x":449,"y":2820,"wires":[["3d1707a1.7c6ef8"]]},{"id":"83854598.d65de8","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ptz/parkpreset/enable","topic":"instar/000389888811/features/ptz/parkpreset/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":830,"y":2906,"wires":[]},{"id":"3b64efe0.b397a","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ptz/parkpreset/enable","topic":"instar/000389888811/status/features/ptz/parkpreset/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":167,"y":2906,"wires":[["836a2a77.944e68"]]},{"id":"836a2a77.944e68","type":"ui_switch","z":"60bc7758.b5c868","name":"Park Preset","label":"Park Preset","tooltip":"","group":"329ba8c6.6759d8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":445,"y":2906,"wires":[["83854598.d65de8"]]},{"id":"11f65f7a.569591","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ptz/parkpreset/position","topic":"instar/000389888811/features/ptz/parkpreset/position","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":830,"y":2947,"wires":[]},{"id":"aba2cb67.3affe8","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ptz/parkpreset/position","topic":"instar/000389888811/status/features/ptz/parkpreset/position","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":165,"y":2947,"wires":[["8c18e42d.5629d8"]]},{"id":"31cb4318.0d48cc","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":2993,"wires":[["c4bb65ba.63c2f8"]]},{"id":"8c18e42d.5629d8","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":2993,"wires":[["31cb4318.0d48cc"]]},{"id":"95b7b251.32df9","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2947,"wires":[["11f65f7a.569591"]]},{"id":"c4bb65ba.63c2f8","type":"ui_numeric","z":"60bc7758.b5c868","name":"Park Position","label":"Park Position","tooltip":"","group":"329ba8c6.6759d8","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":"8","step":1,"x":449,"y":2947,"wires":[["95b7b251.32df9"]]},{"id":"3956fd1.7b47702","type":"mqtt out","z":"60bc7758.b5c868","name":"features/ptz/parkpreset/interval","topic":"instar/000389888811/features/ptz/parkpreset/interval","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":832,"y":3032,"wires":[]},{"id":"75a6dd06.9301e4","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/ptz/parkpreset/interval","topic":"instar/000389888811/status/features/ptz/parkpreset/interval","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":167,"y":3032,"wires":[["ca402743.91e698"]]},{"id":"1e48dcd1.d86123","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":3078,"wires":[["930fa59.723aa58"]]},{"id":"ca402743.91e698","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":87,"y":3078,"wires":[["1e48dcd1.d86123"]]},{"id":"ef4d7a76.9c8a28","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":622,"y":3032,"wires":[["3956fd1.7b47702"]]},{"id":"930fa59.723aa58","type":"ui_numeric","z":"60bc7758.b5c868","name":"Park Interval","label":"Park Interval","tooltip":"","group":"329ba8c6.6759d8","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"30","max":"900","step":1,"x":451,"y":3032,"wires":[["ef4d7a76.9c8a28"]]},{"id":"8e0d2767.a641c8","type":"mqtt out","z":"60bc7758.b5c868","name":"features/manualrec/duration","topic":"instar/000389888811/features/manualrec/duration","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":820,"y":3249,"wires":[]},{"id":"b5cf0021.3d2da","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/manualrec/duration","topic":"instar/000389888811/status/features/manualrec/duration","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":155,"y":3249,"wires":[["4c6fc59.24cbf3c"]]},{"id":"9d1d214e.211a6","type":"change","z":"60bc7758.b5c868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":3295,"wires":[["616fa16c.b838a"]]},{"id":"4c6fc59.24cbf3c","type":"json","z":"60bc7758.b5c868","name":"","property":"payload","action":"","pretty":false,"x":85,"y":3295,"wires":[["9d1d214e.211a6"]]},{"id":"d3a5e295.2940f","type":"function","z":"60bc7758.b5c868","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":3249,"wires":[["8e0d2767.a641c8"]]},{"id":"616fa16c.b838a","type":"ui_numeric","z":"60bc7758.b5c868","name":"File Length","label":"File Length","tooltip":"","group":"f3246399.130fe","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":"30","max":"900","step":1,"x":443,"y":3249,"wires":[["d3a5e295.2940f"]]},{"id":"f4a8688c.d03ba8","type":"comment","z":"60bc7758.b5c868","name":"Recording","info":"","x":76,"y":3126,"wires":[]},{"id":"d5af074d.669ca8","type":"mqtt out","z":"60bc7758.b5c868","name":"features/manualrec/start","topic":"instar/000389888811/features/manualrec/start","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":808,"y":3167,"wires":[]},{"id":"3d85abe7.cc96b4","type":"mqtt out","z":"60bc7758.b5c868","name":"features/manualrec/stop","topic":"instar/000389888811/features/manualrec/stop","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":807,"y":3208,"wires":[]},{"id":"c291b5b2.71c7f8","type":"ui_button","z":"60bc7758.b5c868","name":"Start Recording","group":"f3246399.130fe","order":4,"width":0,"height":0,"passthru":false,"label":"Start Recording","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"val\":\"60\"}","payloadType":"str","topic":"","x":590,"y":3167,"wires":[["d5af074d.669ca8"]]},{"id":"5a1a9819.4049f8","type":"ui_button","z":"60bc7758.b5c868","name":"Stop Recording","group":"f3246399.130fe","order":4,"width":0,"height":0,"passthru":false,"label":"Stop Recording","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"val\":\"off\"}","payloadType":"str","topic":"","x":593,"y":3208,"wires":[["3d85abe7.cc96b4"]]},{"id":"79d16a13.0d60a4","type":"mqtt out","z":"60bc7758.b5c868","name":"features/indicator/power","topic":"instar/000389888811/features/indicator/power","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":808,"y":3387,"wires":[]},{"id":"3fc14b8c.ec50b4","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/indicator/power","topic":"instar/000389888811/status/features/indicator/power","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":145,"y":3387,"wires":[["9e7cddb1.3b417"]]},{"id":"9e7cddb1.3b417","type":"ui_switch","z":"60bc7758.b5c868","name":"Power","label":"Power","tooltip":"","group":"e83d9928.e40ca8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":405,"y":3387,"wires":[["79d16a13.0d60a4"]]},{"id":"4e3db4dd.3848cc","type":"comment","z":"60bc7758.b5c868","name":"Indicators","info":"","x":76,"y":3347,"wires":[]},{"id":"469c702f.d910e","type":"mqtt out","z":"60bc7758.b5c868","name":"features/indicator/wifi","topic":"instar/000389888811/features/indicator/wifi","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":800,"y":3434,"wires":[]},{"id":"cc01d8b7.012788","type":"mqtt in","z":"60bc7758.b5c868","name":"status/features/indicator/wifi","topic":"instar/000389888811/status/features/indicator/wifi","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":137,"y":3434,"wires":[["7bc26de3.433d94"]]},{"id":"7bc26de3.433d94","type":"ui_switch","z":"60bc7758.b5c868","name":"WiFi","label":"WiFi","tooltip":"","group":"e83d9928.e40ca8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"on\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"off\"}","offvalueType":"str","officon":"","offcolor":"","x":407,"y":3434,"wires":[["469c702f.d910e"]]},{"id":"9e4e460d.640f18","type":"mqtt-broker","z":"","name":"IN-9010FHD","broker":"192.168.2.165","port":"8883","tls":"b55f9f2e.fe529","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2cadc9dd.bb30e6","type":"ui_group","z":"","name":"Email","tab":"b495893e.92cc48","disp":true,"width":"6","collapse":true},{"id":"9fe3c86f.0b6dd8","type":"ui_group","z":"","name":"User","tab":"e0f069dc.b7d7a8","disp":true,"width":"6","collapse":true},{"id":"3e784105.8af3ae","type":"ui_group","z":"","name":"FTP","tab":"b495893e.92cc48","disp":true,"width":"6","collapse":true},{"id":"25eb07c7.fcaf88","type":"ui_group","z":"","name":"Nightvision","tab":"b495893e.92cc48","disp":true,"width":"6","collapse":true},{"id":"329ba8c6.6759d8","type":"ui_group","z":"","name":"PTZ","tab":"b495893e.92cc48","disp":true,"width":"6","collapse":true},{"id":"f3246399.130fe","type":"ui_group","z":"","name":"Manual Recording","tab":"b495893e.92cc48","disp":true,"width":"6","collapse":true},{"id":"e83d9928.e40ca8","type":"ui_group","z":"","name":"Indicator LEDs","tab":"b495893e.92cc48","disp":true,"width":"6","collapse":true},{"id":"b55f9f2e.fe529","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"mqtt_client-new.crt","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"b495893e.92cc48","type":"ui_tab","z":"","name":"MQTT Features Menu","icon":"fa-th","disabled":false,"hidden":false},{"id":"e0f069dc.b7d7a8","type":"ui_tab","z":"","name":"MQTT System Menu","icon":"fa-cogs","disabled":false,"hidden":false}]