blog/2019-08-06--mqtt-node-red/MQTT-system-menu.json
[{"id":"6129c5b1.c1eb2c","type":"comment","z":"22f7ce0b.20dcb2","name":"User","info":"","x":64,"y":28,"wires":[]},{"id":"91830ff7.a16e7","type":"mqtt out","z":"22f7ce0b.20dcb2","name":"system/user/admin/name","topic":"instar/000389888811/system/user/admin/name","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":810,"y":69,"wires":[]},{"id":"18e03a48.35ba66","type":"mqtt in","z":"22f7ce0b.20dcb2","name":"status/system/user/admin/name","topic":"instar/000389888811/status/system/user/admin/name","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":145,"y":69,"wires":[["9e6d6e3f.b7bfc"]]},{"id":"99260220.f1c04","type":"change","z":"22f7ce0b.20dcb2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":115,"wires":[["2306dde9.baaaf2"]]},{"id":"9e6d6e3f.b7bfc","type":"json","z":"22f7ce0b.20dcb2","name":"","property":"payload","action":"","pretty":false,"x":85,"y":115,"wires":[["99260220.f1c04"]]},{"id":"4905009d.53d9","type":"function","z":"22f7ce0b.20dcb2","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":69,"wires":[["91830ff7.a16e7"]]},{"id":"2306dde9.baaaf2","type":"ui_text_input","z":"22f7ce0b.20dcb2","name":"Admin Username","label":"Admin Username","tooltip":"","group":"9fe3c86f.0b6dd8","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":447,"y":69,"wires":[["4905009d.53d9"]]},{"id":"d2b49b71.9c3178","type":"mqtt out","z":"22f7ce0b.20dcb2","name":"system/user/admin/password","topic":"instar/000389888811/system/user/admin/password","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":830,"y":156,"wires":[]},{"id":"c2a5bfc.24a0b4","type":"mqtt in","z":"22f7ce0b.20dcb2","name":"status/system/user/admin/password","topic":"instar/000389888811/status/system/user/admin/password","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":155,"y":156,"wires":[["b162217d.841b6"]]},{"id":"3d2c3bb.95062c4","type":"change","z":"22f7ce0b.20dcb2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":202,"wires":[["430b154b.fa022c"]]},{"id":"b162217d.841b6","type":"json","z":"22f7ce0b.20dcb2","name":"","property":"payload","action":"","pretty":false,"x":85,"y":202,"wires":[["3d2c3bb.95062c4"]]},{"id":"57f7c1cb.36fd3","type":"function","z":"22f7ce0b.20dcb2","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":621,"y":156,"wires":[["d2b49b71.9c3178"]]},{"id":"430b154b.fa022c","type":"ui_text_input","z":"22f7ce0b.20dcb2","name":"Admin Password","label":"Admin Password","tooltip":"","group":"9fe3c86f.0b6dd8","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":452,"y":156,"wires":[["57f7c1cb.36fd3"]]},{"id":"de7dc266.579f3","type":"mqtt out","z":"22f7ce0b.20dcb2","name":"system/user/user/name","topic":"instar/000389888811/system/user/user/name","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":812,"y":286,"wires":[]},{"id":"5ada7f81.54ba","type":"mqtt in","z":"22f7ce0b.20dcb2","name":"status/system/user/user/name","topic":"instar/000389888811/status/system/user/user/name","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":137,"y":286,"wires":[["44a7adad.6be844"]]},{"id":"c825dc99.3c209","type":"change","z":"22f7ce0b.20dcb2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":332,"wires":[["4f485a7e.0d9854"]]},{"id":"44a7adad.6be844","type":"json","z":"22f7ce0b.20dcb2","name":"","property":"payload","action":"","pretty":false,"x":87,"y":332,"wires":[["c825dc99.3c209"]]},{"id":"3541bf74.51ce6","type":"function","z":"22f7ce0b.20dcb2","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":622,"y":286,"wires":[["de7dc266.579f3"]]},{"id":"4f485a7e.0d9854","type":"ui_text_input","z":"22f7ce0b.20dcb2","name":"User Username","label":"User Username","tooltip":"","group":"9fe3c86f.0b6dd8","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":439,"y":286,"wires":[["3541bf74.51ce6"]]},{"id":"c8846d65.52e68","type":"mqtt out","z":"22f7ce0b.20dcb2","name":"system/user/user/password","topic":"instar/000389888811/system/user/user/password","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":822,"y":373,"wires":[]},{"id":"2c450f57.e6b22","type":"mqtt in","z":"22f7ce0b.20dcb2","name":"status/system/user/user/password","topic":"instar/000389888811/status/system/user/user/password","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":157,"y":373,"wires":[["14c54089.6757cf"]]},{"id":"7cbe6931.823468","type":"change","z":"22f7ce0b.20dcb2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":419,"wires":[["1d9820b9.39acdf"]]},{"id":"14c54089.6757cf","type":"json","z":"22f7ce0b.20dcb2","name":"","property":"payload","action":"","pretty":false,"x":87,"y":419,"wires":[["7cbe6931.823468"]]},{"id":"5576e27a.c6890c","type":"function","z":"22f7ce0b.20dcb2","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":623,"y":373,"wires":[["c8846d65.52e68"]]},{"id":"1d9820b9.39acdf","type":"ui_text_input","z":"22f7ce0b.20dcb2","name":"User Password","label":"User Password","tooltip":"","group":"9fe3c86f.0b6dd8","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":444,"y":373,"wires":[["5576e27a.c6890c"]]},{"id":"ef3f534f.b42ca","type":"mqtt out","z":"22f7ce0b.20dcb2","name":"system/user/user/enable","topic":"instar/000389888811/system/user/user/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":810,"y":243,"wires":[]},{"id":"c3ff9062.ed366","type":"mqtt in","z":"22f7ce0b.20dcb2","name":"status/system/user/user/enable","topic":"instar/000389888811/status/system/user/user/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":147,"y":243,"wires":[["a4b25711.405278"]]},{"id":"a4b25711.405278","type":"ui_switch","z":"22f7ce0b.20dcb2","name":"User Authentication","label":"User Authentication","tooltip":"","group":"9fe3c86f.0b6dd8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":447,"y":243,"wires":[["ef3f534f.b42ca"]]},{"id":"e9ade24e.6683c","type":"mqtt out","z":"22f7ce0b.20dcb2","name":"system/user/guest/name","topic":"instar/000389888811/system/user/guest/name","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":810,"y":500,"wires":[]},{"id":"33774eb8.00aa42","type":"mqtt in","z":"22f7ce0b.20dcb2","name":"status/system/user/guest/name","topic":"instar/000389888811/status/system/user/guest/name","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":145,"y":500,"wires":[["f685d05b.90645"]]},{"id":"e8318665.ee5e68","type":"change","z":"22f7ce0b.20dcb2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":546,"wires":[["6d7460c3.0f6e3"]]},{"id":"f685d05b.90645","type":"json","z":"22f7ce0b.20dcb2","name":"","property":"payload","action":"","pretty":false,"x":85,"y":546,"wires":[["e8318665.ee5e68"]]},{"id":"facfc7c8.fc6d58","type":"function","z":"22f7ce0b.20dcb2","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":500,"wires":[["e9ade24e.6683c"]]},{"id":"6d7460c3.0f6e3","type":"ui_text_input","z":"22f7ce0b.20dcb2","name":"Guest Username","label":"Guest Username","tooltip":"","group":"9fe3c86f.0b6dd8","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":447,"y":500,"wires":[["facfc7c8.fc6d58"]]},{"id":"94563c08.474b5","type":"mqtt out","z":"22f7ce0b.20dcb2","name":"system/user/guest/password","topic":"instar/000389888811/system/user/guest/password","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":820,"y":587,"wires":[]},{"id":"f576da18.b47df8","type":"mqtt in","z":"22f7ce0b.20dcb2","name":"status/system/user/guest/password","topic":"instar/000389888811/status/system/user/guest/password","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":155,"y":587,"wires":[["a1f8f9aa.30acb8"]]},{"id":"80674bc3.0ed398","type":"change","z":"22f7ce0b.20dcb2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":633,"wires":[["1b5c5619.d98dea"]]},{"id":"a1f8f9aa.30acb8","type":"json","z":"22f7ce0b.20dcb2","name":"","property":"payload","action":"","pretty":false,"x":85,"y":633,"wires":[["80674bc3.0ed398"]]},{"id":"b6ded12e.cc087","type":"function","z":"22f7ce0b.20dcb2","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":621,"y":587,"wires":[["94563c08.474b5"]]},{"id":"1b5c5619.d98dea","type":"ui_text_input","z":"22f7ce0b.20dcb2","name":"Guest Password","label":"Guest Password","tooltip":"","group":"9fe3c86f.0b6dd8","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":442,"y":587,"wires":[["b6ded12e.cc087"]]},{"id":"4c6c21c4.91744","type":"mqtt out","z":"22f7ce0b.20dcb2","name":"system/user/guest/enable","topic":"instar/000389888811/system/user/guest/enable","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":808,"y":457,"wires":[]},{"id":"e90d897c.929cc8","type":"mqtt in","z":"22f7ce0b.20dcb2","name":"status/system/user/guest/enable","topic":"instar/000389888811/status/system/user/guest/enable","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":145,"y":457,"wires":[["415e343.e41cfcc"]]},{"id":"415e343.e41cfcc","type":"ui_switch","z":"22f7ce0b.20dcb2","name":"Guest Authentication","label":"Guest Authentication","tooltip":"","group":"9fe3c86f.0b6dd8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":455,"y":457,"wires":[["4c6c21c4.91744"]]},{"id":"c62bdc04.49538","type":"mqtt out","z":"22f7ce0b.20dcb2","name":"system/user/iplogging","topic":"instar/000389888811/system/user/iplogging","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":799,"y":674,"wires":[]},{"id":"1ff7f91.f7ff907","type":"mqtt in","z":"22f7ce0b.20dcb2","name":"status/system/user/iplogging","topic":"instar/000389888811/status/system/user/iplogging","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":136,"y":674,"wires":[["c2fe700a.92627"]]},{"id":"c2fe700a.92627","type":"ui_switch","z":"22f7ce0b.20dcb2","name":"Login IP Logging","label":"Login IP Logging","tooltip":"","group":"da80fd10.b4e92","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":446,"y":674,"wires":[["c62bdc04.49538"]]},{"id":"8a9308ec.7e55f8","type":"mqtt out","z":"22f7ce0b.20dcb2","name":"system/reboot/planned","topic":"instar/000389888811/system/reboot/planned","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":810,"y":720,"wires":[]},{"id":"9e73c9b4.ae3518","type":"mqtt in","z":"22f7ce0b.20dcb2","name":"status/system/reboot/planned","topic":"instar/000389888811/status/system/reboot/planned","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":137,"y":720,"wires":[["852dd124.15068"]]},{"id":"852dd124.15068","type":"ui_switch","z":"22f7ce0b.20dcb2","name":"Planned Reboot","label":"Planned Reboot","tooltip":"","group":"da80fd10.b4e92","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"{\"val\":\"1\"}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"val\":\"0\"}","offvalueType":"str","officon":"","offcolor":"","x":437,"y":720,"wires":[["8a9308ec.7e55f8"]]},{"id":"986f2706.c9f508","type":"mqtt out","z":"22f7ce0b.20dcb2","name":"system/reboot/time","topic":"instar/000389888811/system/reboot/time","qos":"1","retain":"false","broker":"9e4e460d.640f18","x":790,"y":764,"wires":[]},{"id":"767b1cd6.fd4dc4","type":"mqtt in","z":"22f7ce0b.20dcb2","name":"status/system/reboot/time","topic":"instar/000389888811/status/system/reboot/time","qos":"1","datatype":"auto","broker":"9e4e460d.640f18","x":127,"y":764,"wires":[["d04b585c.259a58"]]},{"id":"d04b585c.259a58","type":"json","z":"22f7ce0b.20dcb2","name":"","property":"payload","action":"","pretty":false,"x":84,"y":810,"wires":[["440bfd57.26ad24"]]},{"id":"440bfd57.26ad24","type":"change","z":"22f7ce0b.20dcb2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.val","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":237,"y":810,"wires":[["beb8e9bd.4795d8"]]},{"id":"99e96571.9d0958","type":"function","z":"22f7ce0b.20dcb2","name":"Transform","func":"msg.payload = '{\"val\":\"'+msg.payload+'\"}';\nreturn msg;","outputs":1,"noerr":0,"x":601,"y":764,"wires":[["986f2706.c9f508"]]},{"id":"beb8e9bd.4795d8","type":"ui_numeric","z":"22f7ce0b.20dcb2","name":"","label":"Reboot Time","tooltip":"","group":"da80fd10.b4e92","order":4,"width":0,"height":0,"passthru":false,"topic":"Reboot Time","format":"{{value}}","min":0,"max":"86400","step":1,"x":430,"y":764,"wires":[["99e96571.9d0958"]]},{"id":"9e4e460d.640f18","type":"mqtt-broker","z":"","name":"IN-9010FHD","broker":"192.168.2.165","port":"8883","tls":"b55f9f2e.fe529","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9fe3c86f.0b6dd8","type":"ui_group","z":"","name":"User","tab":"e0f069dc.b7d7a8","disp":true,"width":"6","collapse":true},{"id":"da80fd10.b4e92","type":"ui_group","z":"","name":"Reboot","tab":"e0f069dc.b7d7a8","disp":true,"width":"6","collapse":true},{"id":"b55f9f2e.fe529","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"mqtt_client-new.crt","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"e0f069dc.b7d7a8","type":"ui_tab","z":"","name":"MQTT System Menu","icon":"fa-cogs","disabled":false,"hidden":false}]